@model DDaftarAwam

@{
    ViewData["Title"] = "Daftar Awam - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleCreateDaftarPartial.cshtml" />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Kod" class="control-label"></label>
                        <input asp-for="Kod" class="form-control form-control-sm" required readonly />
                        <span asp-validation-for="Kod" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoPendaftaran" class="control-label"></label>
                        <input asp-for="NoPendaftaran" class="form-control form-control-sm text-uppercase" />
                        <span asp-validation-for="NoPendaftaran" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EnKategoriDaftarAwam" class="control-label"></label>
                        <select asp-for="EnKategoriDaftarAwam" class="form-control form-control-sm text-uppercase" required>
                            <option value="">- SILA PILIH -</option>
                            @foreach (var item in ViewBag.EnKategoriDaftarAwam)
                            {
                                <option value="@item.id">@item.indek - @item.perihal</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control form-control-sm text-uppercase" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
              
            <ul id="lst" class="list-group"
                style="
        position: absolute;
    "
                hidden>
                @if (ViewBag.DDaftarAwam != null)
                {
                    @foreach (var item in ViewBag.DDaftarAwam)
                    {
                        <li class="list-group-item text-uppercase"><a href="#" class="text-dark">@item.TextValue</a></li>
                    }
                }
                </ul>

            <div class="form-group">
                <label asp-for="Alamat1" class="control-label"></label>
                <input asp-for="Alamat1" class="form-control form-control-sm mb-2 text-uppercase" />
                <input asp-for="Alamat2" class="form-control form-control-sm mb-2 text-uppercase" />
                <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" />
-                <span asp-validation-for="Alamat1" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Poskod" class="control-label"></label>
                        <input asp-for="Poskod" class="form-control form-control-sm" />
                        <span asp-validation-for="Poskod" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Bandar" class="control-label"></label>
                        <input asp-for="Bandar" class="form-control form-control-sm text-uppercase" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JNegeriId" class="control-label"></label>
                        <select asp-for="JNegeriId" class="form-control form-control-sm text-uppercase" required>
                            <option value="">- SILA PILIH -</option>
                            @foreach (var item in ViewBag.JNegeri)
                            {
                                <option value="@item.Id">@item.Kod - @item.Perihal</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JBankId" class="control-label"></label>
                        <select asp-for="JBankId" class="form-control form-control-sm text-uppercase" required>
                            <option value="">- SILA PILIH -</option>
                            @foreach (var item in ViewBag.JBank)
                            {
                                <option value="@item.Id">@item.Kod - @item.Perihal</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoAkaunBank" class="control-label"></label>
                        <input asp-for="NoAkaunBank" class="form-control form-control-sm" />
                        <span asp-validation-for="NoAkaunBank" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="KodM2E" class="control-label"></label>
                        <input asp-for="KodM2E" class="form-control form-control-sm text-uppercase" />
                        <span asp-validation-for="KodM2E" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Telefon1" class="control-label"></label>
                        <input asp-for="Telefon1" class="form-control form-control-sm" />
                        <span asp-validation-for="Telefon1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Emel" class="control-label"></label>
                        <input asp-for="Emel" class="form-control form-control-sm text-uppercase" />
                        <span asp-validation-for="Emel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
