@model AkCV

@{
    ViewData["Title"] = "Baucer Tunai Keluar - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<partial name="_JSCreate" />
<partial name="_JSCreateExt" />
<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleCreateTransaksiPartial.cshtml" />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <input asp-for="Tahun" value="@DateTime.Now.ToString("yyyy")" hidden />
            @*maklumat umum*@
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input asp-for="NoRujukan" class="form-control form-control-sm" value="@ViewBag.NoRujukan" required readonly />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" value="@DateTime.Now.ToString("s")" type="datetime-local" class="form-control form-control-sm" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DPanjarId" class="control-label"></label>
                        <select asp-for="DPanjarId" class="form-control form-control-sm text-uppercase" required>
                            <option value="">-- SILA PILIH --</option>
                            @foreach (var item in ViewBag.DPanjar)
                            {
                                <option value="@item.Id">@item.JCawangan?.Kod - @item.JCawangan?.Perihal (@item.Kod) </option>
                            }
                        </select>
                        <span asp-validation-for="DPanjarId" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label asp-for="EnKategoriPenerima" class="control-label"></label>
                <select asp-for="EnKategoriPenerima" class="form-control form-control-sm text-uppercase" required>
                    @foreach (var item in ViewBag.EnKategoriPenerima)
                    {
                        <option value="@item.id">@item.perihal</option>
                    }
                </select>
                <span asp-validation-for="EnKategoriPenerima" class="text-danger"></span>
            </div>

            <div id="divPekerja" @ViewBag.DivPekerja>
                <div class="form-group">
                    <label asp-for="DPekerjaId" class="control-label"></label>
                    <select asp-for="DPekerjaId" class="form-control form-control-sm text-uppercase select2">
                    </select>
                    <span asp-validation-for="DPekerjaId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" id="divLainLain" @ViewBag.DivLainLain>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NoPendaftaranPenerima" class="col-form-label"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="NoPendaftaranPenerima" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="NamaPenerima" class="col-form-label"></label>
                            <input type="text" class="form-control form-control-sm text-uppercase" asp-for="NamaPenerima" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-form-label">Alamat</label>
                    <input type="text" class="form-control form-control-sm text-uppercase" asp-for="Alamat1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm text-uppercase" asp-for="Alamat2">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm text-uppercase" asp-for="Alamat3">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Catatan" class="control-label"></label>
                <textarea asp-for="Catatan" class="form-control text-uppercase form-control-sm text-uppercase" rows="2" required></textarea>
            </div>
            @*end*@

            <br />
            @*table Objek*@
            <div class="card box-shadow mb-3">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:40%">Bahagian</th>
                                <th style="width:40%">Kod</th>
                                <th style="width:20%">Amaun RM</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @if (ViewBag.akCVObjek != null)
                            {
                                foreach (var item in ViewBag.akCVObjek)
                                {
                                    <tr>
                                        <td hidden>@item.JKWPTJBahagianId</td>
                                        <td class="text-uppercase">@item.JKWPTJBahagian.Kod - @item.JKWPTJBahagian.JBahagian?.Perihal (@item.JKWPTJBahagian.JPTJ?.Perihal)</td>
                                        <td hidden>@item.AkCartaId</td>
                                        <td class="text-uppercase">@item.AkCarta?.Kod - @item.AkCarta?.Perihal</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" data-toggle="modal" data-target="#moObjek" onclick="UpdateObjek(this)"><i class="fa fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" onclick="RemoveObjek(this)"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <select class="form-control form-control-sm text-uppercase" id="objekJKWPTJBahagianId">
                                        <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                                        @foreach (var s in ViewBag.JKWPTJBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm select2 text-uppercase" id="objekAkCartaId">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td><input class="form-control form-control-sm" type="number" id="objekAmaun" step="0.01" value="0.00"></td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAddObjek"><i class="fas fa-plus"></i></button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                        <input asp-for="Jumlah" value="@ViewBag.Jumlah" class="form-control form-control-sm" readonly />
                    </div>
                </div>
            </div>
            @*table Objek end*@

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                   asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")"
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="moObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moObjekId" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Bahagian</label>
                        <select class="form-control form-control-sm text-uppercase" id="moObjekJKWPTJBahagianId" disabled>
                            <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                            @foreach (var s in ViewBag.JKWPTJBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Kod Akaun</label>
                        <select class="form-control form-control-sm" id="moObjekAkCartaId" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun</label>
                        <input type="number" class="form-control form-control-sm" id="moObjekAmaun">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="UpdateModalObjek()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
