@model YIT.Akaun.Models.ViewModels.Forms.PrintFormModel

@{
    ViewData["Title"] = "LAK006 Penyata Pendapatan Tahunan";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int year = DateTime.Now.Year;
    DateTime firstDay = new DateTime(year, 1, 1);
    DateTime lastDay = new DateTime(year, 12, 31);
}

<script>
    //add tbl objek
    $("body").on("click", "#btnExportExcel", function () {
        $(".loading").css("display", "");
        $("#btnExportExcel").prop('disabled', true);
        var kodLaporan = "LAK006";
       
        
        var Tahun1 = $('#Tahun1').val();
        var JKWId = $('#jKWId').val();
        var AkBankId = $('#AkBankId').val();

        if (kodLaporan != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExportExcel","LAK006")',
                data: { kodLaporan: kodLaporan, Tahun1: Tahun1, JKWId: JKWId, AkBankId: AkBankId },
                dataType: "json",
                success: function (r) {
                    window.location = "@Url.Action("Download","Account")?fileGuid=" + r.fileGuid
                        + "&filename=" + r.fileName;
                    toastr.success("laporan berjaya dijana.", "Berjaya");
                    toastr.options.timeOut = 2000; // 2s
                    $("#btnExportExcel").prop('disabled', false);
                    $(".loading").css("display", "none");
                   
                }
            })
        } 
    });


</script>

<div class="container">
    <div class="card box-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h5 class="text-uppercase text-info mb-0">@ViewData["Title"]</h5>
                    <span class="ac-ref">Indeks</span>
                </div>
                <div class="col-4 text-right">
                </div>

            </div>
            <hr class="mt-2" />
            <form asp-action="printPDF">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group mb-2 input-group-sm ">
                                    <label class="form-control-label">Tahun</label>
                                </div>
                            </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" name="Tahun1" asp-for="Tahun1"
                                       onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group mb-2 input-group-sm ">
                                    <label class="form-control-label">Kump. Wang</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group mb-2 input-group-sm ">
                                    <select class="form-control form-control-sm select2" name="JKWId" asp-for="jKWId" asp-items="@ViewBag.JKW"></select>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-control-label">Bank</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group mb-2 input-group-sm ">
                                    <select class="form-control form-control-sm select2" name="AkBankId" asp-for="AkBankId" asp-items="@ViewBag.AkBank"></select>
                                    <label class="invalid-feedback">Sila isi ruangan ini.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <hr />
                <div class="form-group text-right">
                    <input type="submit" value="Cetak" id="btnCetak" formtarget="_blank" class="btn ac-primary" />
                    <button type="button" formtarget="_blank" id="btnExportExcel" class="btn ac-info">Jana Excel</button>
                    <span class="loading" style="padding-right:3px; padding-top: 3px; display:inline-block;">
                        <img src="~/img/Spinner.gif" style="height:40px;">
                    </span>
                </div>

            </form>
        </div>
    </div>
</div>