@model AkAnggar


@*maklumat umum*@
<div class="form-row">
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="Tahun" class="control-label"></label>
                    <input asp-for="Tahun" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="Tahun" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Tarikh" class="control-label"></label>
                    <input asp-for="Tarikh" class="form-control form-control-sm text-uppercase" type="date" readonly />
                    <span asp-validation-for="Tarikh" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="JKWId" class="control-label"></label>
                    <input value="@BelanjawanFormatter.ConvertToKW(Model.JKW?.Kod) - @Model.JKW?.Perihal" class="form-control form-control-sm" readonly />

                </div>
                <div class="form-group col-md-4">
                    <label asp-for="NoRujukan" class="control-label"></label>
                    <input asp-for="NoRujukan" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="NoRujukan" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label asp-for="Sebab" class="control-label"></label>
        <textarea asp-for="Sebab" class="form-control form-control-sm text-uppercase" rows="2" readonly></textarea>
    </div>
</div>

@*table Objek*@
<div class="card box-shadow mb-3">
    <div class="card-header">
        <h6>Objek</h6>
    </div>
    <div class="card-body">
        <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:40%">Bahagian</th>
                    <th style="width:40%">Kod</th>
                    <th style="width:10%">Amaun RM</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbodyObjek">
                @if (ViewBag.AkAnggarObjek != null)
                {
                    foreach (var item in ViewBag.AkAnggarObjek)
                    {
                <tr>
                    <td class="text-uppercase">@item.JKWPTJBahagian.Kod - @item.JKWPTJBahagian.JBahagian?.Perihal (@item.JKWPTJBahagian.JPTJ?.Perihal) </td>
                    <td class="text-uppercase">@item.AkCarta?.Kod - @item.AkCarta?.Perihal </td>
                    <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                </tr>
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
            <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" value="@Model.Jumlah" readonly />
        </div>
    </div>
</div>
@*table Perihal end*@
<hr />