<script type="text/javascript">
    // autoload JKWPTJBahagian list when KW is picked
    $("body").on('change', "#JKWId", function () {
        var jKWId = $("#JKWId").val();
        EmptyCart();
        GetJKWPTJBahagianList(jKWId);
    });

    function GetJKWPTJBahagianList(jKWId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetJKWPTJBahagianList", "JKW")',
            data: { JKWId : jKWId },
            dataType: "json",
            success: function (msg) {
                if (msg.result == "OK") {
                    // empty selection
                    $("#objekJKWPTJBahagianId").empty();
                    $("#moObjekJKWPTJBahagianId").empty();


                    //append new options
                    $("#objekJKWPTJBahagianId").append("<option value='' disable> -- SILA PILIH -- </option>");
                    for (var i = 0; i < msg.list.length; i++) {
                        var item = msg.list[i];

                        var str = "<option value='" + item.id + "'>" + item.value + " - " + item.textValue + "</option>";

                        $("#objekJKWPTJBahagianId").append(str);
                    }

                    $("#moObjekJKWPTJBahagianId").append("<option value='0' disable> -- Pilih Bahagian -- </option>");
                    if (msg.list.length > 0) {
                        for (var i = 0; i < msg.list.length; i++) {
                            var item = msg.list[i];

                            var str = "<option value='" + item.id + "'>" + item.value + " - " + item.textValue + "</option>";
                            $("#moObjekJKWPTJBahagianId").append(str);
                        }
                    }
                }
                else {
                    toastr.error(msg.message);
                    toastr.options.timeOut = 2000; // 2s
                }

            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
    //
    //empty cart
    function EmptyCart() {
        $.ajax({
            type: "POST",
            //url: "/AkPV/JsonEmptyCart",
            url: '@Url.Action("EmptyCart", "AkAnggar")',
            dataType: "json",
            success: function (msg) {
                $("table tbody#tbodyObjek").empty();
                //$("table tbody#tbodyCaraBayar").empty();
                $("#Jumlah").val("0.00");
                // $("#objekJumlahCaraBayar").val("0.00");
                $("#objekAkCartaId option").prop('disabled', false);
                $("#objekAkCartaId option:selected").prop('disabled', true);
                $("#objekJKWPTJBahagianId option").prop('disabled', false);
                $("#objekJKWPTJBahagianId option:selected").prop('disabled', true);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    };
    //empty cart end

    // close modal objek
    function CloseModalObjek() {
        $("#moObjek").hide();
        $(".modal-backdrop").prop("hidden", true);
    }

    // populate tables in pages
    function PopulateTablesFromCart() {
        var jumlah = $("#Jumlah");

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllItemCartAkAnggar", "AkAnggar")',
            dataType: "json",
            success: function (r) {

                //refresh updated table objek
                $("table tbody#tbodyObjek").empty();
                var sum = 0;

                if (r.objek.length > 0) {
                    for (var i = 0; i < r.objek.length; i++) {
                        var item1 = r.objek[i];
                        var str = "<tr><td hidden>" + item1.jkwptjBahagianId +
                            "</td><td class='text-uppercase'>" + item1.jkwptjBahagian.kod + " - " + item1.jkwptjBahagian.jBahagian.perihal + " (" + item1.jkwptjBahagian.jptj.perihal + ") " +
                            "</td><td hidden>" + item1.akCartaId +
                            "</td><td class='text-uppercase'>" + item1.akCarta.kod + " - " + item1.akCarta.perihal +
                            "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                            "</td><td>" +
                            "<button class='btn ac-primary btn-sm' type='button' data-toggle='modal' data-target='#moObjek' onclick='UpdateObjek(this)'><i class='fa fa-edit' ></i></button>" +
                            "</td><td>" +
                            "<button class='btn ac-danger btn-sm' type='button' onclick='RemoveObjek(this)'><i class='fas fa-trash' ></i></button>" +
                            "</td><tr>";
                        $("table tbody#tbodyObjek").append(str);
                        sum += item1.amaun;
                    }
                }

                jumlah.val(sum.toFixed(2));
                // refresh updated table objek end
            }
        });

    }
    //add tbl objek
    $("body").on("click", "#btnAddObjek", function () {
        //Reference the Name and Country TextBoxes.
        var Id = $("#Id");
        var akCartaId = $("#objekAkCartaId");
        var jKWPTJBahagianId = $("#objekJKWPTJBahagianId");

        if ($("#objekAmaun").val() == 0.00) {
            toastr.error("Amaun 0.00 tidak dibenarkan");
            toastr.options.timeOut = 2000; // 2s
        }
        else {
            if (jKWPTJBahagianId.val() != null && akCartaId.val() != null) {
                GetJKWPTJBahagianAkCarta(Id.val(), jKWPTJBahagianId.val(), akCartaId.val());
            } else {
                toastr.error("Sila pilih bahagian / kod akaun");
                toastr.options.timeOut = 2000; // 2s
            }
        }

    });

    function GetJKWPTJBahagianAkCarta(Id, jKWPTJBahagianId, akCartaId) {
        var Objek = {
            JKWPTJBahagianId: jKWPTJBahagianId,
            AkCartaId: akCartaId
        }
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetJKWPTJBahagianAkCarta", "JKW")',
            data: Objek,
            dataType: "json",
            success: function (r) {
                //Reference the TextBoxes.
                var objekJKWPTJBahagianId = $("#objekJKWPTJBahagianId");
                var objekAkCartaId = $("#objekAkCartaId");

                var objekAmaun = $("#objekAmaun");

                var AkAnggarObjek = {
                    AkAnggar: Id,
                    JKWPTJBahagianId: objekJKWPTJBahagianId.val(),
                    AkCartaId: objekAkCartaId.val(),
                    Amaun: objekAmaun.val()
                }
                //Send the JSON array to Controller to Save into session (cart)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveCartAkAnggarObjek", "AkAnggar")',
                    data: AkAnggarObjek,
                    dataType: "json",
                    success: function (result) {

                        var jumlah = $("#Jumlah");

                        //Sum value to Total text field
                        var sum = 0;
                        sum = parseFloat(objekAmaun.val()) + parseFloat(jumlah.val());
                        jumlah.val(sum.toFixed(2));

                        //Get the reference of the Table's TBODY element.
                        var tBody = $("#tblObjek > TBODY")[0];
                        //Add Row.
                        var row = tBody.insertRow(-1);

                        //Add jkwptjBahagianId cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.jkwPtjBahagian.id);
                        cell.prop("hidden", !this.checked);

                        //Add jkwptjBahagian cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.jkwPtjBahagian.kod + ' - ' + r.jkwPtjBahagian.jBahagian.perihal);
                        cell.addClass('text-uppercase');

                        //Add akCartaId cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.akCarta.id);
                        cell.prop("hidden", !this.checked);

                        //Add akCarta cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.akCarta.kod + ' - ' + r.akCarta.perihal);
                        cell.addClass('text-uppercase');

                        //Add amaun cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(parseFloat(objekAmaun.val()).toFixed(2));
                        cell.addClass('text-end')

                        //Add Edit Button cell.
                        cell = $(row.insertCell(-1));
                        var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdateObjek' data-bs-toggle='modal' data-bs-target='#moObjek' onclick='UpdateObjek(this)'><i class='fas fa-edit'></i></button>");
                        cell.append(btnUpdate1);

                        //Add Remove Button cell.
                        cell = $(row.insertCell(-1));
                        var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemoveObjek' onclick='RemoveObjek(this)'><i class='fas fa-trash'></i></button>");
                        cell.append(btnRemove1);

                        //Clear the TextBoxes.
                        objekJKWPTJBahagianId.val("").trigger('change');
                        objekAkCartaId.val("").trigger('change');
                        objekAmaun.val("0.00");


                    }
                });

            }
        });

    }
    //add tbl objek end

    //remove tbl objek
    function RemoveObjek(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var jKWPTJBahagianId = $("TD", row).eq(0).html();
        var namaBahagian = $("TD", row).eq(1).html();
        var akCartaId = $("TD", row).eq(2).html();
        var namaCarta = $("TD", row).eq(3).html();
        var objekAmaun = $("TD", row).eq(4).html();
        var objekJumlah = $("#Jumlah");
        if (confirm("Hapus bahagian : " + namaBahagian + ", Kod Akaun : " + namaCarta + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblObjek")[0];

            //Sum value to Total text field
            var sum = 0;
            sum = parseFloat(objekJumlah.val()) - parseFloat(objekAmaun);
            objekJumlah.val(sum.toFixed(2));

            var AkAnggarObjek = {
                JKWPTJBahagianId: jKWPTJBahagianId,
                AkCartaId: akCartaId
            }
            if (AkAnggarObjek != null) {
                $.ajax({
                    type: "POST",
                    //url: "/AbWaran/RemoveAbWaran1",
                    url: '@Url.Action("RemoveCartAkAnggarObjek", "AkAnggar")',
                    data: AkAnggarObjek,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        checkJumlah();
                        CloseModalObjek();
                    }
                });
            }

        }
    };
    //remove tbl objek end

    function checkJumlah() {
        var objekJumlah = parseFloat($("#Jumlah").val());
        var objekAmaun = parseFloat($("#objekAmaun").val());

        if (isNaN(objekJumlah)) objekJumlah = 0.00;
        if (isNaN(objekAmaun)) objekAmaun = 0.00;

        if (objekJumlah === 0.00 && objekAmaun === 0.00) {
            $("#btnSave").show();
        } else {
            if (objekJumlah === objekAmaun) {
                $("#btnSave").show();
            } else {
                $("#btnSave").hide();
            }
        }
    }

    //update tbl objek
    function UpdateObjek(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var jKWPTJBahagianId = $("TD", row).eq(0).html();
        var akCartaId = $("TD", row).eq(2).html();
        var objekJumlah = $("#Jumlah");

        var AkAnggarObjek = {
            JKWPTJBahagianId: jKWPTJBahagianId,
            AkCartaId: akCartaId
        }
            if (jKWPTJBahagianId != null && akCartaId != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAnItemFromCartAkAnggarObjek", "AkAnggar")',
                data: AkAnggarObjek,
                dataType: "json",
                success: function (r) {
                    //insert data in modal objek
                    $("#moObjekId").val(r.record.id);
                    $("#moObjekJKWPTJBahagianId").val(r.record.jkwptjBahagianId);
                    $("#moObjekAkCartaId").val(r.record.akCartaId);
                    $("#moObjekAmaun").val(r.record.amaun.toFixed(2));

                    //show modal objek
                    $("#moObjek").modal({ backdrop: 'static', keyboard: false });

                }
            });
        }
    };

    function UpdateModalObjek() {
        var akAnggarId = $("#Id").val();
        var id = $("#moObjekId").val();
        var amaun = $("#moObjekAmaun").val();
        var jKWPTJBahagianId = $("#moObjekJKWPTJBahagianId").val();
        var akCartaId = $("#moObjekAkCartaId").val();
        var jumlah = $("#Jumlah");

        var AkAnggarObjek = {
            AkAnggarId: akAnggarId,
            Id: id,
            JKWPTJBahagianId: jKWPTJBahagianId,
            AkCartaId: akCartaId,
            Amaun: amaun
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAnItemFromCartAkAnggarObjek", "AkAnggar")',
            data: AkAnggarObjek,
            dataType: "json",
            success: function (r) {
                //insert notification here

                PopulateTablesFromCart();
                CloseModalObjek();
            }
        });
    };
//update tbl objek end

</script>