<script type="text/javascript">
    $(document).ready(function () {
        // bring the dropdown select2 in front of modal
        $('#moPenerimaDDaftarAwamId').select2({
            dropdownParent: $('#moPenerima'),
            theme: "bootstrap"
        });

        $('#moPenerimaDPekerjaId').select2({
            dropdownParent: $('#moPenerima'),
            theme: "bootstrap"
        });
        //
    });

    // on click kategoriDaftarAwam dropdown
    $("body").on('change', "#moPenerimaEnKategoriDaftarAwam", function () {
        var kategoriDaftarAwam = $("#moPenerimaEnKategoriDaftarAwam").val();
        $("#moPenerimaDDaftarAwamId").val("").change();
        $("#moPenerimaDPekerjaId").val("").change();

        switch (kategoriDaftarAwam) {
            case "@EnKategoriDaftarAwam.Pekerja.GetDisplayCode()":
                $("#moPenerimaDivDPekerjaId").removeAttr('hidden');
                $("#moPenerimaDivDDaftarAwamId").prop('hidden', true);
                break;
            case "@EnKategoriDaftarAwam.Pembekal.GetDisplayCode()":
                $("#moPenerimaDivDPekerjaId").prop('hidden', true);
                $("#moPenerimaDivDDaftarAwamId").removeAttr('hidden');
                break;
            default:
                $("#moPenerimaDivDPekerjaId").prop('hidden', true);
                $("#moPenerimaDivDDaftarAwamId").prop('hidden', true);
                break;
        }
    });
    //

    // on click moPenerimaDDaftarAwamId dropdown
    $("body").on('change', "#moPenerimaDDaftarAwamId", function () {
        var dDaftarAwamId = $("#moPenerimaDDaftarAwamId").val();

        if (dDaftarAwamId != 0 || dDaftarAwamId != "" || dDaftarAwamId != null) {
            DDaftarAwam = {
                DDaftarAwamId: dDaftarAwamId
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDDaftarAwam","AkJanaanProfil")',
                data: DDaftarAwam,
                dataType: "json",
                success: function (msg) {
                    if (msg.result === "Error") {
                        toastr.error(msg.message);
                        toastr.options.timeOut = 2000; // 2s
                    }
                    else if (msg.result === "OK" && msg.record.nama == null) {
                        $("#moPenerimaNoPendaftaranPenerima").val(msg.record.noPendaftaran);
                        $("#moPenerimaNamaPenerima").val(msg.record.nama);
                        $("#moPenerimaNoPendaftaranPemohon").val(msg.record.noPendaftaran);
                        $("#moPenerimaJBankId").val(msg.record.jBankId).change();
                        $("#moPenerimaNoAkaunBank").val(msg.record.noAkaunBank);
                        $("#moPenerimaAlamat1").val(msg.record.alamat1);
                        $("#moPenerimaAlamat2").val(msg.record.alamat2);
                        $("#moPenerimaAlamat3").val(msg.record.alamat3);
                        $("#moPenerimaEmel").val(msg.record.emel);
                        $("#moPenerimaKodM2E").val(msg.record.kodM2E);
                    }
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }
    });
    //

    // on click moPenerimaDPekerjaId dropdown
    $("body").on('change', "#moPenerimaDPekerjaId", function () {
        var dPekerjaId = $("#moPenerimaDPekerjaId").val();

        if (dPekerjaId != 0 || dPekerjaId != "" || dPekerjaId != null) {
            DPekerja = {
                DPekerjaId: dPekerjaId
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDPekerja","AkJanaanProfil")',
                data: DPekerja,
                dataType: "json",
                success: function (msg) {
                    if (msg.result === "Error") {
                        toastr.error(msg.message);
                        toastr.options.timeOut = 2000; // 2s
                    }
                    else if (msg.result === "OK" && msg.record.nama == null) {
                        $("#moPenerimaNoPendaftaranPenerima").val(msg.record.noKp);
                        $("#moPenerimaNamaPenerima").val(msg.record.nama);
                        $("#moPenerimaNoPendaftaranPemohon").val(msg.record.noKp);
                        $("#moPenerimaJBankId").val(msg.record.jBankId).change();
                        $("#moPenerimaNoAkaunBank").val(msg.record.noAkaunBank);
                        $("#moPenerimaAlamat1").val(msg.record.alamat1);
                        $("#moPenerimaAlamat2").val(msg.record.alamat2);
                        $("#moPenerimaAlamat3").val(msg.record.alamat3);
                        $("#moPenerimaEmel").val(msg.record.emel);
                        $("#moPenerimaKodM2E").val(msg.record.kodM2E);
                    }
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }
    });
    //

    //empty cart
    function EmptyCart() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("EmptyCart", "AkJanaanProfil")',
            dataType: "json",
            success: function (msg) {
                $("table tbody#tbodyPenerima").empty();
                $("#Jumlah").val("0.00");
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    };
    //empty cart end

    // populate tables in pages
    function PopulateTablesFromCart() {
        var jumlah = $("#Jumlah");
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllItemCartAkJanaanProfil", "AkJanaanProfil")',
            dataType: "json",
            success: function (r) {

                // refresh updated table penerima
                $("table tbody#tbodyPenerima").empty();
                var sum = 0;

                for (var i = 0; i < r.penerima.length; i++) {
                    var item1 = r.penerima[i];

                    var str = "<tr><td class='text-end'>" + item1.bil +
                        "</td><td class='text-uppercase'>" + item1.namaPenerima +
                        "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                        "</td><td>" +
                        "<button class='btn ac-primary btn-sm' type='button' data-toggle='modal' data-target='#moPenerima' onclick='UpdatePenerima(this)'><i class='fa fa-edit' ></i></button>" +
                        "</td><td>" +
                        "<button class='btn ac-danger btn-sm' type='button' onclick='RemovePenerima(this)'><i class='fas fa-trash' ></i></button>" +
                        "</td><tr>";
                    $("table tbody#tbodyPenerima").append(str);
                    sum += item1.amaun;
                }
                jumlah.val(sum.toFixed(2));
                // refresh updated table penerima end

            }
        });

    }
    // populate tables in pages end

    // add tbl penerima
    function AddPenerima()
    {
        $("#moUpdateModalPenerima").prop('hidden', true);
        $("#moAddModalPenerima").removeAttr('hidden');
        ClearFieldsModalPenerima();
    }

    function ClearFieldsModalPenerima() {
        $("#moPenerimaId").val("");
        $("#moPenerimaAkJanaanProfilId").val("");
        $("#moPenerimaEnKategoriDaftarAwam").val("");
        $("#moPenerimaDDaftarAwamId").val("").change();
        $("#moPenerimaDivDDaftarAwamId").prop('hidden', true);
        $("#moPenerimaDPekerjaId").val("").change();
        $("#moPenerimaDivDPekerjaId").prop('hidden', true);
        $("#moPenerimaNoPendaftaranPenerima").val("");
        $("#moPenerimaNamaPenerima").val("");
        $("#moPenerimaNoPendaftaranPemohon").val("");
        $("#moPenerimaCatatan").val("");
        $("#moPenerimaJCaraBayarId").val("");
        $("#moPenerimaJBankId").val("");
        $("#moPenerimaNoAkaunBank").val("");
        $("#moPenerimaAlamat1").val("");
        $("#moPenerimaAlamat2").val("");
        $("#moPenerimaAlamat3").val("");
        $("#moPenerimaEmel").val("");
        $("#moPenerimaKodM2E").val("");
        $("#moPenerimaAmaun").val(0);
        $("#moPenerimaRujukanMohon").val("");
    }

    function AddModalPenerima() {
        var id = $("#moPenerimaId").val();
        var akJanaanProfilId = $("#Id").val();
        var enKategoriDaftarAwam = $("#moPenerimaEnKategoriDaftarAwam").val();
        var dDaftarAwamId = $("#moPenerimaDDaftarAwamId").val();
        var dPekerjaId = $("#moPenerimaDPekerjaId").val();
        var noPendaftaranPenerima = $("#moPenerimaNoPendaftaranPenerima").val();
        var namaPenerima = $("#moPenerimaNamaPenerima").val();
        var noPendaftaranPemohon = $("#moPenerimaNoPendaftaranPemohon").val();
        var catatan = $("#moPenerimaCatatan").val();
        var jCaraBayarId = $("#moPenerimaJCaraBayarId").val();
        var jBankId = $("#moPenerimaJBankId").val();
        var noAkaunBank = $("#moPenerimaNoAkaunBank").val();
        var alamat1 = $("#moPenerimaAlamat1").val();
        var alamat2 = $("#moPenerimaAlamat2").val();
        var alamat3 = $("#moPenerimaAlamat3").val();
        var emel = $("#moPenerimaEmel").val();
        var kodM2E = $("#moPenerimaKodM2E").val();
        var amaun = $("#moPenerimaAmaun").val();
        var rujukanMohon = $("#moPenerimaRujukanMohon").val();

        var AkJanaanProfilPenerima = {
            Id: id,
            AkJanaanProfilId: akJanaanProfilId,
            EnKategoriDaftarAwam: enKategoriDaftarAwam,
            DDaftarAwamId: dDaftarAwamId,
            DPekerjaId: dPekerjaId,
            NoPendaftaranPenerima: noPendaftaranPenerima,
            NamaPenerima: namaPenerima,
            NoPendaftaranPemohon: noPendaftaranPemohon,
            Catatan: catatan,
            JCarabayarId: jCaraBayarId,
            JBankId: jBankId,
            NoAkaunBank: noAkaunBank,
            Alamat1: alamat1,
            Alamat2: alamat2,
            Alamat3: alamat3,
            Emel: emel,
            KodM2E: kodM2E,
            Amaun: amaun,
            RujukanMohon: rujukanMohon
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveCartAkJanaanProfilPenerima", "AkJanaanProfil")',
            data: AkJanaanProfilPenerima,
            dataType: "json",
            success: function (msg) {
                if (msg.result == "OK") {
                    //insert notification here
                    ClearFieldsModalPenerima();
                    PopulateTablesFromCart();
                }
                else {
                    toastr.error(msg.message);
                    toastr.options.timeOut = 2000; // 2s
                }
               
            }
        });
    }
    //

    // remove tbl penerima
    function RemovePenerima(button) {
    //Determine the reference of the Row using the Button.
    var row = $(button).closest("TR");
    var bil = $("TD", row).eq(0).html();
    var nama = $("TD", row).eq(1).html();
    if (confirm("Hapus : " + nama + " ?")) {

        var AkJanaanProfilPenerima = {
            Bil: bil
        }
        if (AkJanaanProfilPenerima != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveCartAkJanaanProfilPenerima", "AkJanaanProfil")',
                data: AkJanaanProfilPenerima,
                dataType: "json",
                success: function (r) {
                    PopulateTablesFromCart();
                }
            });
        }

    }
}
    //

    // update tbl penerima
    function UpdatePenerima(button) {
        $("#moUpdateModalPenerima").removeAttr('hidden');
        $("#moAddModalPenerima").prop('hidden',true);

        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var bil = $("TD", row).eq(0).html();

        var AkJanaanProfilPenerima = {
            Bil: bil
        }
        if (bil != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAnItemFromCartAkJanaanProfilPenerima", "AkJanaanProfil")',
                data: AkJanaanProfilPenerima,
                dataType: "json",
                success: function (r) {
                    //insert data in modal objek
                    $("#moBil").val(r.record.bil);
                    $("#moPenerimaId").val(r.record.id);
                    $("#moPenerimaAkJanaanProfilId").val(r.record.akJanaanProfilId);
                    $("#moPenerimaEnKategoriDaftarAwam").val(r.record.enKategoriDaftarAwam);
                    switch (r.record.enKategoriDaftarAwam) {
                        case @EnKategoriDaftarAwam.Pembekal.GetDisplayCode():
                            $("#moPenerimaDDaftarAwamId").val(r.record.dDaftarAwamId).change();
                            $("#moPenerimaDivDDaftarAwamId").removeAttr('hidden');
                            $("#moPenerimaDivDPekerjaId").prop('hidden', true);
                            break;
                        case @EnKategoriDaftarAwam.Pekerja.GetDisplayCode():
                            $("#moPenerimaDPekerjaId").val(r.record.dPekerjaId).change();
                            $("#moPenerimaDivDDaftarAwamId").prop('hidden', true);
                            $("#moPenerimaDivDPekerjaId").removeAttr('hidden');
                            break;
                    }

                    $("#moPenerimaNoPendaftaranPenerima").val(r.record.noPendaftaranPenerima);
                    $("#moPenerimaNamaPenerima").val(r.record.namaPenerima);
                    $("#moPenerimaNoPendaftaranPemohon").val(r.record.noPendaftaranPemohon);
                    $("#moPenerimaCatatan").val(r.record.catatan);
                    $("#moPenerimaJCaraBayarId").val(r.record.jCaraBayarId).change();
                    $("#moPenerimaJBankId").val(r.record.jBankId).change();
                    $("#moPenerimaNoAkaunBank").val(r.record.noAkaunBank);
                    $("#moPenerimaAlamat1").val(r.record.alamat1);
                    $("#moPenerimaAlamat2").val(r.record.alamat2);
                    $("#moPenerimaAlamat3").val(r.record.alamat3);
                    $("#moPenerimaEmel").val(r.record.emel);
                    $("#moPenerimaKodM2E").val(r.record.kodM2E);
                    $("#moPenerimaAmaun").val(r.record.amaun);
                    $("#moPenerimaRujukanMohon").val(r.record.rujukanMohon);

                    //show modal penerima
                    $("#moPenerima").modal({ backdrop: 'static', keyboard: false });

                }
            });
        }
    }

    function UpdateModalPenerima() {
    var id = $("#moPenerimaId").val();
    var bil = $("#moBil").val();
    var akJanaanProfilId = $("#Id").val();
    var enKategoriDaftarAwam = $("#moPenerimaEnKategoriDaftarAwam").val();
    var dDaftarAwamId = $("#moPenerimaDDaftarAwamId").val();
    var dPekerjaId = $("#moPenerimaDPekerjaId").val();
    var noPendaftaranPenerima = $("#moPenerimaNoPendaftaranPenerima").val();
    var namaPenerima = $("#moPenerimaNamaPenerima").val();
    var noPendaftaranPemohon = $("#moPenerimaNoPendaftaranPemohon").val();
    var catatan = $("#moPenerimaCatatan").val();
    var jCaraBayarId = $("#moPenerimaJCaraBayarId").val();
    var jBankId = $("#moPenerimaJBankId").val();
    var noAkaunBank = $("#moPenerimaNoAkaunBank").val();
    var alamat1 = $("#moPenerimaAlamat1").val();
    var alamat2 = $("#moPenerimaAlamat2").val();
    var alamat3 = $("#moPenerimaAlamat3").val();
    var emel = $("#moPenerimaEmel").val();
    var kodM2E = $("#moPenerimaKodM2E").val();
    var noCek = $("#moPenerimaNoCek").val();
    var tarikhCek = $("#moPenerimaTarikhCek").val();
    var amaun = $("#moPenerimaAmaun").val();
    var rujukanMohon = $("#moPenerimaRujukanMohon").val();

    var AkJanaanProfilPenerima = {
        Id: id,
        Bil: bil,
        AkJanaanProfilId: akJanaanProfilId,
        EnKategoriDaftarAwam: enKategoriDaftarAwam,
        DDaftarAwamId: dDaftarAwamId,
        DPekerjaId: dPekerjaId,
        NoPendaftaranPenerima: noPendaftaranPenerima,
        NamaPenerima: namaPenerima,
        NoPendaftaranPemohon: noPendaftaranPemohon,
        Catatan: catatan,
        JCarabayarId: jCaraBayarId,
        JBankId: jBankId,
        NoAkaunBank: noAkaunBank,
        Alamat1: alamat1,
        Alamat2: alamat2,
        Alamat3: alamat3,
        Emel: emel,
        KodM2E: kodM2E,
        NoCek: noCek,
        TarikhCek: tarikhCek,
        Amaun: amaun,
        RujukanMohon: rujukanMohon
    }
    $.ajax({
        type: "POST",
        url: '@Url.Action("SaveAnItemFromCartAkJanaanProfilPenerima", "AkJanaanProfil")',
        data: AkJanaanProfilPenerima,
        dataType: "json",
        success: function (msg) {
            if (msg.result == "OK") {
                //insert notification here
                ClearFieldsModalPenerima();
                PopulateTablesFromCart();
            }
            else {
                toastr.error(msg.message);
                toastr.options.timeOut = 2000; // 2s
            }
        }
    });
}
    //
</script>