@model DPenerimaCekGajiViewModel

@{
    ViewData["Title"] = "Penerima Cek Gaji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="loading">
        <img class="loading-image" src="~/img/loading.gif" alt="Loading..." />
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row">
                <div class="col-8">
                    <h5 class="text-uppercase mb-0">Senarai @ViewData["Title"]</h5>
                    <span class="ac-ref">Indeks</span>
                </div>
                <div class="col-4 hidden-mobile">
                    <a class="float-end btn ac-success" asp-action="Create">Tambah Baru</a>
                </div>
                <div class="col-4 show-mobile">
                    <a class="float-end text-success " asp-action="Create"><i class="fa fa-plus fa-2x"></i></a>
                </div>
                <div class="col-12 hidden-mobile"> <!--butang sblah tambah baru(farhan)-->
                    <a class="float-end btn ac-success" asp-action="Generate">Jana</a>
                </div>
                <div class="col-12 show-mobile">
                    <a class="float-end text-success " asp-action="Generate"><i class="fa fa-plus fa-2x"></i></a>
                </div>
            </div>
            <hr class="mt-2" />
        </div>

        <partial name="~/Views/Partials/Common/_SearchJadualIndexPartial.cshtml" />
    </div>
</div>
@if (Model.DPenerimaCekGaji != null && Model.DPenerimaCekGaji.Count() > 0)
{
    <div class="card card-body border main-page" hidden>
        <div class="table-responsive">
            <table class="table table-hover compact" width="100%" id="tableMain">
                <caption>Rekod dipamerkan : @Model.DPenerimaCekGaji.Count()</caption>
                <thead class="table-secondary">
                    <tr>
                        <th width="5%">Bil</th>
                        <th>
                            Kod
                        </th>
                        <th class="control-label">
                            Kod M2E
                        </th>
                        <th>
                            Nama
                        </th>
                        <th>
                            Surat Nama
                        </th>
                        <th>
                            Surat Jabatan
                        </th>
                        <th>
                            Rujukan Kami
                        </th>
                        <th>
                            Amaun Gaji RM
                        </th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DPenerimaCekGaji dPenerimaCekGaji in Model.DPenerimaCekGaji)
                    {
                        var tabletype = dPenerimaCekGaji.FlHapus == 1 ? "table-danger" : null;
                        <tr class="@tabletype text-uppercase">
                            <td></td>
                            <td>
                                @dPenerimaCekGaji.Kod
                            </td>
                            <td class="text-uppercase">
                                @dPenerimaCekGaji.DDaftarAwam?.KodM2E
                            </td>
                            <td class="text-uppercase">
                                @dPenerimaCekGaji.DDaftarAwam?.Nama
                            </td>
                            <td class="text-uppercase">
                                @dPenerimaCekGaji.SuratNama
                            </td>
                            <td class="text-uppercase">
                                @dPenerimaCekGaji.SuratJabatan
                            </td>
                            <td class="text-uppercase">
                                @dPenerimaCekGaji.RujukanKami
                            </td>
                            <td class="text-uppercase">
                                @Convert.ToDecimal(dPenerimaCekGaji.AmaunGaji).ToString("#,##0.00")
                            </td>

                            <td width="5%" class="text-center">
                                <div class="btn-group" role="group" aria-label="action">
                                    @if (dPenerimaCekGaji.FlHapus == 0)
                                    {
                                        <a asp-action="PrintPenerimaCekGaji" asp-route-id="@dPenerimaCekGaji.Id"
                                           class="btn text-primary btn-sm bg-white" type="button"
                                           data-toggle="tooltip" target="_blank" data-placement="top"
                                           title="Cetak"><i class="fas fa-print"></i></a>
                                        <a asp-action="Details" asp-route-id="@dPenerimaCekGaji.Id"
                                           class="btn text-primary btn-sm bg-white" type="button"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                        <a asp-action="Delete" asp-route-id="@dPenerimaCekGaji.Id"
                                           class="btn text-danger btn-sm bg-white" type="button"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Hapus"><i class="fas fa-trash"></i></a>
                                    }
                                    else
                                    {
                                        if (User.IsInRole("Supervisor") || User.IsInRole("SuperAdmin"))
                                        {
                                            <a asp-action="Rollback" asp-route-id="@dPenerimaCekGaji.Id" asp-route-syscode="SPPB" class="btn text-info btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Rollback">
                                                <i class="fas fa-trash-restore"></i>
                                            </a>

                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.AkJanaanProfil != null && Model.AkJanaanProfil.Count() > 0)
    {
        <div class="card card-body border main-page" hidden>
            <h5 class="text-uppercase mb-0">Senarai Janaan Profil</h5>
            <div class="table-responsive">
                <table class="table table-hover compact" width="100%" id="tableJanaanProfil">
                    <caption>Rekod dipamerkan : @Model.AkJanaanProfil.Count()</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th width="5%">Bil</th>
                            <th class="kod" width="10%">
                                No Janaan
                            </th>
                            <th class="modul">
                                Jenis Modul
                            </th>
                            <th class="tarikh">
                                Tarikh
                            </th>
                            <th class="jumlah">
                                Jumlah RM
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AkJanaanProfil akJanaanProfil in Model.AkJanaanProfil)
                        {
                            var tabletype = akJanaanProfil.FlHapus == 1 ? "table-danger" : null;
                            <tr class="@tabletype text-uppercase">
                                <td></td>
                                <td class="text-uppercase">
                                    @akJanaanProfil.NoRujukan
                                </td>
                                <td class="text-uppercase">
                                    @akJanaanProfil.EnJenisModulProfil.GetDisplayName()
                                </td>
                                <td class="text-uppercase">
                                    @akJanaanProfil.Tarikh.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-uppercase">
                                    @Convert.ToDecimal(akJanaanProfil.Jumlah).ToString("#,##0.00")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

