@model dynamic

@{
    ViewData["Title"] = "Cetakan Laporan Belanjawan Bulanan";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    decimal jumAsal = 0;
    decimal jumTambahan = 0;
    decimal jumPindahan = 0;
    decimal jumJumlah = 0;
    decimal jumtelahGuna = 0;
    decimal jumtelahGunaPercent = 0;
    decimal jumtbs = 0;
    decimal jumtbsPercent = 0;
    decimal jumbelanjaBulan = 0;
    decimal jumbelanjaKumpul = 0;
    decimal jumbelanjaKumpulPercent = 0;
    decimal jumbaki = 0;
    decimal jumbakiPercent = 0;

}

<div class="row flexrow mb-1 text-left">
    <img class="image-container mb-2" style="margin-left: 15px" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
    <div class="col-12 text-uppercase">
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
    </div>
    </div>

<table>
    <thead>
        <tr>

            <td> LAPORAN BELANJAWAN BULANAN PADA BULAN </td><td>:</td><td> @string.Format("{0:D2}", ViewData["Bulan"])</td>

        </tr>
        <tr>
            <td> TAHUN </td><td>:</td><td> @ViewData["Tahun"]</td>
       </tr>
        <tr>
            <td>KUMP. WANG </td><td>:</td><td> @ViewData["NamaKW"]</td>
        </tr>
        <tr>
            <td>PTJ </td><td>:</td><td> @ViewData["NamaPTJ"]</td>
        </tr>
         <tr>
            <td>BAHAGIAN </td><td>:</td><td> @ViewData["NamaBahagian"]</td>
        </tr>
    </thead>
</table>
<br />
<br />
<div class="form-group">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="6" style="text-align :center">PERUNTUKAN</th>
                <th colspan="9" style="text-align :center">PERBELANJAAN DAN TANGGUNGAN</th>
                </tr>
            <tr>
                <th>Kod</th>
                <th>Perihal</th>
                <th>Peruntukan Asal</th>
                <th>Peruntukan Tambahan</th>
                <th>Pindahan Peruntukan</th>
                <th>Jumlah Peruntukan</th>
                <th>Peruntukan Telah Guna</th>
                <th>%</th>
                <th>Tanggungan Belum Selesai</th>
                <th>%</th>
                <th>Perbelanjaan Bulan Ini</th>
                <th>Perbelanjaan Terkumpul</th>
                <th>%</th>
                <th>Baki</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.reportModelGrouped)
            {
                foreach (var item in group)
                {
                    var peruntukanAsal = item.PeruntukanAsal ?? 0;
                    var peruntukanTambahan = item.PeruntukanTambahan ?? 0;
                    var pindahanPeruntukan = item.PindahanPeruntukan ?? 0;

                    // Calculate JumlahPeruntukan, assuming null properties should be treated as 0
                    var jumlahPeruntukan = peruntukanAsal + peruntukanTambahan + pindahanPeruntukan;

                    // Calculate percentages
                    var telahGunaPercentage = jumlahPeruntukan != 0 ? ((item.PeruntukanTelahGuna ?? 0) / jumlahPeruntukan) * 100 : 0;
                    var tbsPercentage = jumlahPeruntukan != 0 ? ((item.TBS ?? 0) / jumlahPeruntukan) * 100 : 0;
                    var belanjaTerkumpulPercentage = jumlahPeruntukan != 0 ? ((item.PerbelanjaanTerkumpul ?? 0) / jumlahPeruntukan) * 100 : 0;
                    var bakiPercentage = jumlahPeruntukan != 0 ? ((item.Baki ?? 0) / jumlahPeruntukan) * 100 : 0;

                    jumAsal += peruntukanAsal;
                    jumTambahan += peruntukanTambahan;
                    jumPindahan += pindahanPeruntukan;
                    jumJumlah += jumlahPeruntukan;
                    jumtelahGuna += item.PeruntukanTelahGuna;
                    jumtelahGunaPercent += telahGunaPercentage;
                    jumtbs += item.TBS;
                    jumtbsPercent += tbsPercentage;
                    jumbelanjaBulan += item.PerbelanjaanBulanIni;
                    jumbelanjaKumpul += item.PerbelanjaanTerkumpul;
                    jumbelanjaKumpulPercent += belanjaTerkumpulPercentage;
                    jumbaki += item.Baki;
                    jumbakiPercent += bakiPercentage;

                    <tr>
                        <td>@(item.Kod)</td>
                        <td>@(item.Perihal)</td>
                        <td>@item.PeruntukanAsal.ToString("#,##0.00")</td>
                        <td>@item.PeruntukanTambahan.ToString("#,##0.00")</td>
                        <td>@item.PindahanPeruntukan.ToString("#,##0.00")</td>
                        <td>@jumlahPeruntukan.ToString("#,##0.00")</td>
                        <td>@(item.PeruntukanTelahGuna?.ToString("#,##0.00") ?? "0.00")</td>
                        <td>@telahGunaPercentage.ToString("#,##0.00")</td>
                        <td>@(item.TBS?.ToString("#,##0.00") ?? "0.00")</td>
                        <td>@tbsPercentage.ToString("#,##0.00")</td>
                        <td>@(item.PerbelanjaanBulanIni?.ToString("#,##0.00") ?? "0.00")</td>
                        <td>@(item.PerbelanjaanTerkumpul?.ToString("#,##0.00") ?? "0.00")</td>
                        <td>@belanjaTerkumpulPercentage.ToString("#,##0.00")</td>
                        <td>@(item.Baki?.ToString("#,##0.00") ?? "0.00")</td>
                        <td>@bakiPercentage.ToString("#,##0.00")</td>
                    </tr>
                }
            }

            <tr>
                <td colspan="2" class="text-right text-uppercase table-success">JUMLAH BESAR</td>

                <td class="text-right">@Convert.ToDecimal(jumAsal).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumTambahan).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumPindahan).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumJumlah).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumtelahGuna).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumtelahGunaPercent).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumtbs).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumtbsPercent).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumbelanjaBulan).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumbelanjaKumpul).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumbelanjaKumpulPercent).ToString("#,##0.00") %</td>
                <td class="text-right">@Convert.ToDecimal(jumbaki).ToString("#,##0.00")</td>
                <td class="text-right">@Convert.ToDecimal(jumbakiPercent).ToString("#,##0.00") %</td>

            </tr>
        </tbody>


           
        </table>
    </div>
