@model IEnumerable<AkCarta>

@{
    ViewData["Title"] = "Carta Akaun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleIndexPartial.cshtml" />

        <partial name="~/Views/Partials/Common/_SearchJadualIndexPartial.cshtml" />
        <hr />
        <div class="mb-3">
            <div class="text-center hidden-mobile">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button class="btn ac-info" type="button" disabled="disabled"><i class="fas fa-print"></i></button>
                    <a class="btn ac-info" asp-action="PrintCarta" style="color: white;" id="printButton" target="_blank"> Cetak Senarai Carta </a>
                </div>
            </div>
            <div class="text-center show-mobile">
                <a class="btn text-info"
                   asp-action="PrintCarta"
                   id="printButton"
                   target="_blank"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Cetak Senarai Carta"><i class="fas fa-print fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>
@if (Model != null && Model.Count() > 0)
{
    <div class="card box-shadow">
        <div class="loading">
            <img class="loading-image" src="~/img/loading.gif" alt="Loading..." />
        </div>
        <div class="card card-body border main-page" hidden>
            <div class="table-responsive">
                <table class="table table-hover compact" width="100%">
                    <caption>Rekod dipamerkan : @Model.Count()</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th align="center">Bil</th>
                            <th class="kod">
                                @Html.DisplayNameFor(model => model.Kod)
                            </th>
                            <th class="perihal">
                                @Html.DisplayNameFor(model => model.Perihal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnJenis)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnParas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DebitKredit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UmumDetail)
                            </th>
                            <th align="right">
                                @Html.DisplayNameFor(model => model.Baki)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tabletype = item.EnParas == EnParas.Paras1 ? "table-light1" :
                            item.EnParas == EnParas.Paras2 ? "table-light2" :
                            item.EnParas == EnParas.Paras3 ? "table-light3" : null;
                            <tr class="@tabletype">
                                <td align="center"></td>
                                <td class="text-uppercase">
                                    @Html.DisplayFor(modelItem => item.Kod)
                                </td>
                                <td class="text-uppercase">
                                    @Html.DisplayFor(modelItem => item.Perihal)
                                </td>
                                <td class="text-uppercase">
                                    @Html.DisplayFor(modelItem => item.EnJenis)
                                </td>
                                <td class="text-uppercase">
                                    <label class="mb-0">@item.EnParas.GetDisplayName()</label>
                                </td>
                                <td>
                                    @if (item.DebitKredit?.ToString() == "D")
                                    {
                                        <label class="mb-0">DEBIT</label>
                                    }
                                    else if (item.DebitKredit?.ToString() == "K")
                                    {
                                        <label class="mb-0">KREDIT</label>
                                    }
                                </td>
                                <td>
                                    @if (item.UmumDetail?.ToString() == "U")
                                    {
                                        <label class="mb-0">UMUM</label>
                                    }
                                    else if (item.UmumDetail?.ToString() == "D")
                                    {
                                        <label class="mb-0">DETAIL</label>
                                    }
                                </td>
                                <td align="right">
                                    @Convert.ToDecimal(item.Baki).ToString("#,##0.00")
                                </td>
                                <td class="action-button text-center">
                                    <div class="btn-group" role="group" aria-label="action">
                                        <a asp-action="Details" asp-route-id="@item.Id"
                                           class="btn text-primary btn-sm bg-white" type="button"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Ubah/Papar">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id"
                                           class="btn text-danger btn-sm bg-white" type="button"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Hapus">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
