@model AkBank

@{
    ViewData["Title"] = "Akaun Bank - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleDeletePartial.cshtml" />

        <p class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</p>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Perihal" class="control-label"></label>
                    <input asp-for="Perihal" class="form-control form-control-sm text-uppercase" readonly />
                    <span asp-validation-for="Perihal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NoAkaun" class="control-label"></label>
                    <input asp-for="NoAkaun" class="form-control form-control-sm text-uppercase" readonly />
                    <span asp-validation-for="NoAkaun" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JKWId" class="control-label"></label>
            <select asp-for="JKWId" class="form-control form-control-sm text-uppercase" disabled>
                <option value="0">- SILA PILIH -</option>
                @foreach (var item in ViewBag.JKW)
                {
                    <option value="@item.Id">@item.Kod - @item.Perihal</option>
                }
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="AkCartaId" class="control-label"></label>
                    <select asp-for="AkCartaId" class="form-control form-control-sm text-uppercase" disabled>
                        <option value="0">- SILA PILIH -</option>
                        @foreach (var item in ViewBag.AkCarta)
                        {
                            <option value="@item.Id">@item.Kod - @item.Perihal</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="JBankId" class="control-label"></label>
                    <select asp-for="JBankId" class="form-control form-control-sm text-uppercase" disabled>
                        <option value="0">- SILA PILIH -</option>
                        @foreach (var item in ViewBag.JBank)
                        {
                            <option value="@item.Id">@item.Kod - @item.Perihal</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <hr />

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input name="syscode" value="SPPB" hidden />
            <input type="submit" value="Hapus" class="btn ac-danger btn-sm" />
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </form>
    </div>
</div>
