@model dynamic

@{
    ViewData["Title"] = "LAK00201 Laporan Cek Yang Belum Tunai";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    //decimal jumlahCek = 0;
    decimal jumlahCekByDate = 0;
    decimal jumlah = 0;
    string key = "";
}

<div class="row flexrow mb-1 text-left">
    <img class="image-container mb-2" style="margin-left: 15px" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
    <div class="col-12 text-uppercase">
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
    </div>
</div>

<div>
    <p>
        <strong>
            LAPORAN CEK YANG BELUM TUNAI DARI TARIKH : @ViewData["TarikhDari"] HINGGA @ViewData["TarikhHingga"]
            </strong>
    </p>
</div>

<table class="table table-bordered table-sm topic" id="myTable" data-order="NoRujukanCaraBayar">
    <thead>
        <tr class="bg-dark text-white">
            <th colspan="11" class="text-center bg-dark text-white" style="line-height: 1.8rem;"><strong>CETAKAN LAPORAN CEK YANG BELUM DITUNAIKAN</strong></th>
        </tr>
        <tr style="line-height:0.8rem;" class="bg-secondary text-white">

            <th class="NoRujukanCaraBayar">
                No Cek
            </th>
            <th>
                Tarikh Cek
            </th>
            <th class="text-right">
                Amaun RM
            </th>

        </tr>
    </thead>
    <tbody id="tbodylak002">
       
        @foreach (var group in Model.reportModelGrouped)
        {
            // Reset jumlahCekByDate to 0 for each group
            jumlahCekByDate = 0;

            foreach (var akPV in group)
            {
                jumlahCekByDate += akPV.Amaun;
                jumlah += akPV.Amaun;

                <tr class="table" style="line-height:0.8rem; page-break-before:avoid;">

                    <td class="text-uppercase">
                        @akPV.NoRujukanCaraBayar
                    </td>
                    <td class="text-uppercase" id="TarikhCaraBayar">
                        @Convert.ToDateTime(akPV.TarikhCaraBayar).ToString("dd/MM/yyyy")
                    </td>

                    <td class="text-right">
                        @Convert.ToDecimal(akPV.Amaun).ToString("#,##0.00")
                    </td>

                </tr>
            }
            <tr class="text-uppercase bg-secondary font-weight-bold text-black table-info">
                <td colspan="2" style="padding-left: 20px"><strong>Jumlah Pada Tarikh @Convert.ToDateTime(group.Key).ToString("dd/MM/yyyy")</strong></td>
                <td class="text-right">@Convert.ToDecimal(jumlahCekByDate).ToString("#,##0.00")</td>
            </tr>
        }
        <tr class=" font-weight-bold">
            <td colspan="2" class="text-right text-uppercase table-warning">Jumlah RM</td>
            <td class="text-right">@Convert.ToDecimal(jumlah).ToString("#,##0.00")</td>
        </tr>
    </tbody>
   
</table>