@model AkPV

@{
    decimal jumlahInvois = 0;
    decimal jumlahPenerima = 0;
}

@*maklumat umum*@
<div class="row mb-2">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NoRujukan" class="control-label"></label>
            <input asp-for="NoRujukan" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tahun" class="control-label"></label>
            <input asp-for="Tahun" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tarikh" class="control-label"></label>
            <input asp-for="Tarikh" class="form-control form-control-sm" readonly />
        </div>
    </div>
</div>
@*div gaji*@
@*<div class="form-group" id="divSuGajiBulananId" hidden>
        <label asp-for="SuGajiBulananId" class="control-label"></label>
        <select asp-for="SuGajiBulananId" class="form-control form-control-sm text-uppercase select2" required>
            <option value="" disabled selected>-- SILA PILIH --</option>
            @foreach (var item in ViewBag.SuGajiBulanan)
            {
                <option value="@item.Id">@item.Tahun / @item.Bulan </option>
            }
        </select>
        <span asp-validation-for="SuGajiBulananId" class="text-danger"></span>
    </div>*@
@*div end*@
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JKWId" class="control-label"></label>
            <input value="@BelanjawanFormatter.ConvertToKW(Model.JKW?.Kod) - @Model.JKW?.Perihal" class="form-control form-control-sm" readonly />

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JCawanganId" class="control-label"></label>
            <input value="@Model.JCawangan?.Kod - @Model.JCawangan?.Perihal " class="form-control form-control-sm" readonly />

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="AkBankId" class="control-label"></label>
            <input value="@Model.AkBank?.Kod - @Model.AkBank?.Perihal " class="form-control form-control-sm" readonly />

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="EnJenisBayaran" class="control-label"></label>
            <input value="@Model.EnJenisBayaran.GetDisplayName() " class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="NamaPenerima" class="control-label"></label>
            <input asp-for="NamaPenerima" class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="Ringkasan" class="control-label"></label>
    <textarea asp-for="Ringkasan" class="form-control form-control-sm text-uppercase" readonly rows="2"></textarea>
</div>

@*div janaan profil*@
<div class="form-group" id="divAkJanaanProfil" @ViewBag.DivJanaanProfil>
    <label asp-for="AkJanaanProfilId" class="control-label"></label>
    <input class="form-control form-control-sm text-uppercase" value="@Model.AkJanaanProfil?.Tarikh.ToString("dd/MM/yyyy") - @Model.AkJanaanProfil?.NoRujukan"/>
</div>
@*div end*@

@*end*@
<br />

@*table Invois*@
<div class="card box-shadow mb-3" id="divInvois" @ViewBag.DivInvois>
    <div class="card-header">
        <h6>Invois</h6>
    </div>
    <div class="card-body">
        <table id="tblInvois" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:70%">No Rujukan</th>
                    <th style="width:20%">Amaun RM</th>
                </tr>
            </thead>
            <tbody id="tbodyInvois">
                @if (ViewBag.akPVInvois != null)
                {
                    foreach (var item in ViewBag.akPVInvois)
                    {
                        <tr>
                            <td hidden>@item.AkBelianId</td>
                            <td class="text-uppercase">@item.AkBelian.NoRujukan</td>
                            <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                        </tr>
                        jumlahInvois += item.Amaun;
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <label name="invoisJumlah" class="control-label">Jumlah Invois RM</label>
            <input name="invoisJumlah" id="invoisJumlah" class="form-control form-control-sm" value="@jumlahInvois" readonly />
        </div>
    </div>
</div>
@*table Invois end*@


@*table Objek*@
<div class="card box-shadow mb-3">
    <div class="card-header">
        <h6>Objek</h6>
    </div>
    <div class="card-body">
        <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:30%">Bahagian</th>
                    <th style="width:30%">Kod</th>
                    <th style="width:30%">Kod Cukai</th>
                    <th style="width:10%">Amaun RM</th>
                </tr>
            </thead>
            <tbody id="tbodyObjek">
                @if (ViewBag.akPVObjek != null)
                {
                    foreach (var item in ViewBag.akPVObjek)
                    {
                        <tr>
                            <td hidden>@item.JKWPTJBahagianId</td>
                            <td class="text-uppercase">@item.JKWPTJBahagian.Kod - @item.JKWPTJBahagian.JBahagian?.Perihal (@item.JKWPTJBahagian.JPTJ?.Perihal)</td>
                            <td hidden>@item.AkCartaId</td>
                            <td class="text-uppercase">@item.AkCarta?.Kod - @item.AkCarta?.Perihal</td>
                            <td hidden>@item.JCukaiId</td>
                            <td class="text-uppercase">@item.JCukai?.Kod</td>
                            <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
            <input asp-for="Jumlah" class="form-control form-control-sm" readonly />
        </div>
    </div>
</div>
@*table Objek end*@

@*table Penerima*@
<div class="card box-shadow mb-3">
    <div class="card-header">
        <h6>Penerima</h6>
    </div>
    <div class="card-body">
        <table id="tblPenerima" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:10%">Bil</th>
                    <th style="width:60%">Nama Penerima</th>
                    <th style="width:20%">Amaun RM</th>
                </tr>
            </thead>
            <tbody id="tbodyPenerima">
                @if (ViewBag.akPVPenerima != null)
                {
                    foreach (var item in ViewBag.akPVPenerima)
                    {
                        <tr>
                            <td>@item.Bil</td>
                            <td class="text-uppercase">@item.NamaPenerima</td>
                            <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                        </tr>
                        jumlahPenerima += item.Amaun;
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <label name="penerimaJumlah" class="control-label">Jumlah RM</label>
            <input name="penerimaJumlah" id="penerimaJumlah" class="form-control form-control-sm" value="@jumlahPenerima" readonly />
        </div>
    </div>
</div>
@*table Penerima end*@
<hr />