<li class="nav-item">
    <a class="nav-link collapsed text-truncate
       @Html.ActiveClass("AkAnggaranHasil")
       @Html.ActiveClass("AkInvois")
    @Html.ActiveClass("AkTerima")
    @Html.ActiveClass("AkPenyataPemungut")
    " href="#submenuTerimaan" data-toggle="collapse" data-target="#submenuHasil"><img src="~/img/svg/terimaan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Hasil</span></a>
    <div class="collapse" id="submenuHasil" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkAnggaranHasil")" asp-controller="AkTerima" asp-action="Index"><span>Anggaran Hasil</span></a></li>
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkInvois")" asp-controller="AkTerima" asp-action="Index"><span>Invois Dikeluarkan</span></a></li>
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkTerima")" asp-controller="AkTerima" asp-action="Index"><span>Resit Rasmi</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("AkPenyataPemungut")" asp-controller="AkPenyataPemungut" asp-action="Index"><span>Penyata Pemungut</span></a></li>
        </ul>
    </div>
</li>