<li class="nav-item">
    <a class="nav-link collapsed text-truncate
     @Html.ActiveClass("LAK002PrintModel")
     @Html.ActiveClass("LAK003PrintModel")
     @Html.ActiveClass("LAK004PrintModel")
     @Html.ActiveClass("LAK005PrintModel")
     @Html.ActiveClass("LAK006PrintModel")
     @Html.ActiveClass("LAK007PrintModel")
     @Html.ActiveClass("LAK009PrintModel")
     @Html.ActiveClass("LAK010PrintModel")
     @Html.ActiveClass("LAK011PrintModel")
     @Html.ActiveClass("LAK011PrintModel")
     @Html.ActiveClass("LAK012PrintModel")
     @Html.ActiveClass("LAK013PrintModel")
     @Html.ActiveClass("LAK014PrintModel")
     @Html.ActiveClass("LAK015PrintModel")
     @Html.ActiveClass("LAK016PrintModel")
     @Html.ActiveClass("LAK017PrintModel")
     @Html.ActiveClass("LAK018PrintModel")
     @Html.ActiveClass("LAK019PrintModel")
     @Html.ActiveClass("LAK020PrintModel")
     @Html.ActiveClass("LAK021PrintModel")
       " href="#submenuLaporan" data-toggle="collapse" data-target="#submenuLaporan"><img src="~/img/svg/laporan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Laporan</span></a>
    <div class="collapse" id="submenuLaporan" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK002PrintModel")" asp-area="" asp-controller="LAK002" asp-action="Index">
                    Laporan Cek yang Berkaitan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK003PrintModel")" asp-area="" asp-controller="LAK003" asp-action="Index">
                    Laporan Penerimaan dan Pembayaran
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK004PrintModel")" asp-area="" asp-controller="LAK004" asp-action="Index">
                    Laporan Belanjawan yang Berkaitan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK005PrintModel")" asp-area="" asp-controller="LAK005" asp-action="Index">
                    Laporan Hasil Bulanan dan Anggaran Hasil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK006PrintModel")" asp-area="" asp-controller="LAK006" asp-action="Index">
                    Penyata Pendapatan Tahunan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK007PrintModel")" asp-area="" asp-controller="LAK007" asp-action="Index">
                    Penyata Pendapatan Bulan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK009PrintModel")" asp-area="" asp-controller="LAK009" asp-action="Index">
                    Laporan Pembayaran Mengikut Julat Tertentu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK010PrintModel")" asp-area="" asp-controller="LAK010" asp-action="Index">
                    Daftar Bil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK011PrintModel")" asp-area="" asp-controller="LAK011" asp-action="Index">
                   Daftar Pesanan Tempatan Dan Inden Kerja
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK012PrintModel")" asp-area="" asp-controller="LAK012" asp-action="Index">
                    Penyata Akaun Pembekal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK013PrintModel")" asp-area="" asp-controller="LAK013" asp-action="Index">
                    Daftar Baucer Bayaran
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK014PrintModel")" asp-area="" asp-controller="LAK014" asp-action="Index">
                    Laporan Pesanan Tempatan Belum Dibayar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK015PrintModel")" asp-area="" asp-controller="LAK015" asp-action="Index">
                    Laporan SiBerhutang
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK016PrintModel")" asp-area="" asp-controller="LAK016" asp-action="Index">
                    Laporan Resit Yang Dibatalkan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK017PrintModel")" asp-area="" asp-controller="LAK017" asp-action="Index">
                    Laporan Akaun Kena Bayar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK018PrintModel")" asp-area="" asp-controller="LAK018" asp-action="Index">
                    Laporan Waran Peruntukan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK019PrintModel")" asp-area="" asp-controller="LAK019" asp-action="Index">
                    Laporan Electronic File Transfer (EFT) Ditolak
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK020PrintModel")" asp-area="" asp-controller="LAK020" asp-action="Index">
                    Penyata Resit Yang Dikeluarkan Bagi Satu Jangkamasa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("LAK021PrintModel")" asp-area="" asp-controller="LAK021" asp-action="Index">
                    Laporan Perolehan Belum Bayar/Batal
                </a>
            </li>
        </ul>
    </div>
</li>