<li class="nav-item">

    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("AkCarta")
    @Html.ActiveClass("AkAkaun")
    @Html.ActiveClass("AkAnggarLejar")"
       href="#submenuSistem" data-toggle="collapse" data-target="#submenuLejar"><img src="~/img/svg/lejar.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Lejar</span></a>
    <div class="collapse" id="submenuLejar" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkCarta")" asp-controller="AkCarta" asp-action="Index"><span>Carta Akaun</span></a></li>
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkAkaun")" asp-area="" asp-controller="AkAkaun" asp-action="Index"><span>Lejar Am</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("AkAnggarLejar")" asp-area="" asp-controller="AkAnggarLejar" asp-action="Index"><span>Lejar Anggaran Hasil</span></a></li>
        </ul>
    </div>
</li>