<li class="nav-item">

    <a class="nav-link collapsed text-truncate
        @Html.ActiveClass("AbWaranSah")
            @Html.ActiveClass("AbWaranSemak")
            @Html.ActiveClass("AbWaranLulus")
        @Html.ActiveClass("AkPenilaianPerolehanSah")
            @Html.ActiveClass("AkPenilaianPerolehanSemak")
            @Html.ActiveClass("AkPenilaianPerolehanLulus")
        @Html.ActiveClass("AkNotaMintaSah")
            @Html.ActiveClass("AkNotaMintaSemak")
            @Html.ActiveClass("AkNotaMintaLulus")
        @Html.ActiveClass("AkPOSah")
            @Html.ActiveClass("AkPOSemak")
            @Html.ActiveClass("AkPOLulus")
        @Html.ActiveClass("AkIndenSah")
            @Html.ActiveClass("AkIndenSemak")
            @Html.ActiveClass("AkIndenLulus")
        @Html.ActiveClass("AkPelarasanPOSah")
            @Html.ActiveClass("AkPelarasanPOSemak")
            @Html.ActiveClass("AkPelarasanPOLulus")
        @Html.ActiveClass("AkPelarasanIndenSah")
            @Html.ActiveClass("AkPelarasanIndenSemak")
            @Html.ActiveClass("AkPelarasanIndenLulus")
       @Html.ActiveClass("AkBelianSah")
            @Html.ActiveClass("AkBelianSemak")
            @Html.ActiveClass("AkBelianLulus")
       @Html.ActiveClass("AkPVSah")
            @Html.ActiveClass("AkPVSemak")
            @Html.ActiveClass("AkPVLulus")"
       href="#submenuPemprosesan" data-toggle="collapse" data-target="#submenuPemprosesan"><img src="~/img/svg/pemprosesan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Pemprosesan</span></a>
    <div class="collapse" id="submenuPemprosesan" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            @*AbWaran*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
@Html.ActiveClass("AbWaranSah")
@Html.ActiveClass("AbWaranSemak")
@Html.ActiveClass("AbWaranLulus")
   " href="#submenuPemprosesanAbWaran" data-toggle="collapse" data-target="#submenuPemprosesanAbWaran"><span>Waran</span></a>
                <div class="collapse" id="submenuPemprosesanAbWaran" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AbWaranSah")" asp-area="" asp-controller="AbWaranSah" asp-action="Index">
                                Pengesahan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AbWaranSemak")" asp-area="" asp-controller="AbWaranSemak" asp-action="Index">
                                Semakan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AbWaranLulus")" asp-area="" asp-controller="AbWaranLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@

            @*AkPenilaianPerolehan*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
    @Html.ActiveClass("AkPenilaianPerolehanSah")
    @Html.ActiveClass("AkPenilaianPerolehanSemak")
    @Html.ActiveClass("AkPenilaianPerolehanLulus")
       " href="#submenuPemprosesanAkPenilaianPerolehan" data-toggle="collapse" data-target="#submenuPemprosesanAkPenilaianPerolehan"><span>Penilaian Perolehan</span></a>
                <div class="collapse" id="submenuPemprosesanAkPenilaianPerolehan" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPenilaianPerolehanSah")" asp-area="" asp-controller="AkPenilaianPerolehanSah" asp-action="Index">
                                Pengesahan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPenilaianPerolehanSemak")" asp-area="" asp-controller="AkPenilaianPerolehanSemak" asp-action="Index">
                                Semakan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPenilaianPerolehanLulus")" asp-area="" asp-controller="AkPenilaianPerolehanLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@

            @*AkNotaMinta*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
@Html.ActiveClass("AkNotaMintaSah")
@Html.ActiveClass("AkNotaMintaSemak")
@Html.ActiveClass("AkNotaMintaLulus")
   " href="#submenuPemprosesanAkNotaMinta" data-toggle="collapse" data-target="#submenuPemprosesanAkNotaMinta"><span>Nota Minta</span></a>
                <div class="collapse" id="submenuPemprosesanAkNotaMinta" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkNotaMintaSah")" asp-area="" asp-controller="AkNotaMintaSah" asp-action="Index">
                                Pengesahan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkNotaMintaSemak")" asp-area="" asp-controller="AkNotaMintaSemak" asp-action="Index">
                                Semakan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkNotaMintaLulus")" asp-area="" asp-controller="AkNotaMintaLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@

            @*AkPO*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
@Html.ActiveClass("AkPOSah")
@Html.ActiveClass("AkPOSemak")
@Html.ActiveClass("AkPOLulus")
   " href="#submenuPemprosesanAkPO" data-toggle="collapse" data-target="#submenuPemprosesanAkPO"><span>Pesanan Tempatan</span></a>
                <div class="collapse" id="submenuPemprosesanAkPO" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            @*<a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPOSah")" asp-area="" asp-controller="AkPOSah" asp-action="Index">
                                Pengesahan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPOSemak")" asp-area="" asp-controller="AkPOSemak" asp-action="Index">
                                Semakan
                            </a>*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPOLulus")" asp-area="" asp-controller="AkPOLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@
            @*AkPelarasanPO*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
                    @Html.ActiveClass("AkPelarasanPOSah")
                    @Html.ActiveClass("AkPelarasanPOSemak")
                    @Html.ActiveClass("AkPelarasanPOLulus")
   " href="#submenuPemprosesanAkPelarasanPO" data-toggle="collapse" data-target="#submenuPemprosesanAkPelarasanPO"><span>Pel. Pesanan Tempatan</span></a>
                <div class="collapse" id="submenuPemprosesanAkPelarasanPO" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            @*<a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPelarasanPOSah")" asp-area="" asp-controller="AkPOSah" asp-action="Index">
                                Pengesahan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPelarasanPOSemak")" asp-area="" asp-controller="AkPOSemak" asp-action="Index">
                                Semakan
                            </a>*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPelarasanPOLulus")" asp-area="" asp-controller="AkPelarasanPOLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@
            @*AkInden*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
@Html.ActiveClass("AkIndenSah")
@Html.ActiveClass("AkIndenSemak")
@Html.ActiveClass("AkIndenLulus")
   " href="#submenuPemprosesanAkInden" data-toggle="collapse" data-target="#submenuPemprosesanAkInden"><span>Inden Kerja</span></a>
                <div class="collapse" id="submenuPemprosesanAkInden" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        @*<li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkIndenSah")" asp-area="" asp-controller="AkIndenSah" asp-action="Index">
                            Pengesahan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkIndenSemak")" asp-area="" asp-controller="AkIndenSemak" asp-action="Index">
                            Semakan
                        </a>
                    </li>*@
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkIndenLulus")" asp-area="" asp-controller="AkIndenLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@
            @*AkPelarasanInden*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
                    @Html.ActiveClass("AkPelarasanIndenSah")
                    @Html.ActiveClass("AkPelarasanIndenSemak")
                    @Html.ActiveClass("AkPelarasanIndenLulus")
   " href="#submenuPemprosesanAkPelarasanInden" data-toggle="collapse" data-target="#submenuPemprosesanAkPelarasanInden"><span>Pel. Inden Kerja</span></a>
                <div class="collapse" id="submenuPemprosesanAkPelarasanInden" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        @*<li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPelarasanIndenSah")" asp-area="" asp-controller="AkIndenSah" asp-action="Index">
                            Pengesahan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPelarasanIndenSemak")" asp-area="" asp-controller="AkIndenSemak" asp-action="Index">
                            Semakan
                        </a>
                    </li>*@
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPelarasanIndenLulus")" asp-area="" asp-controller="AkPelarasanIndenLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@
            @*AkBelian*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
                 @Html.ActiveClass("AkBelianSah")
                 @Html.ActiveClass("AkBelianSemak")
                 @Html.ActiveClass("AkBelianLulus")
" href="#submenuPemprosesanAkBelian" data-toggle="collapse" data-target="#submenuPemprosesanAkBelian"><span>Invois Pembekal</span></a>
                <div class="collapse" id="submenuPemprosesanAkBelian" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        @*<li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkBelianSah")" asp-area="" asp-controller="AkBelianSah" asp-action="Index">
                            Pengesahan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkBelianSemak")" asp-area="" asp-controller="AkBelianSemak" asp-action="Index">
                            Semakan
                        </a>
                    </li>*@
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkBelianLulus")" asp-area="" asp-controller="AkBelianLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@
            @*AkPV*@
            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3
                 @Html.ActiveClass("AkPVSah")
                 @Html.ActiveClass("AkPVSemak")
                 @Html.ActiveClass("AkPVLulus")
" href="#submenuPemprosesanAkPV" data-toggle="collapse" data-target="#submenuPemprosesanAkPV"><span>Baucer Pembayaran</span></a>
                <div class="collapse" id="submenuPemprosesanAkPV" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        @*<li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPVSah")" asp-area="" asp-controller="AkPVSah" asp-action="Index">
                            Pengesahan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPVSemak")" asp-area="" asp-controller="AkPVSemak" asp-action="Index">
                            Semakan
                        </a>
                    </li>*@
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate ps-4 @Html.ActiveSideBarClass("AkPVLulus")" asp-area="" asp-controller="AkPVLulus" asp-action="Index">
                                Kelulusan
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            @*end*@
        </ul>
    </div>
</li>