<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("AkPO")
    @Html.ActiveClass("AkInden")
    @Html.ActiveClass("AkBelian")" href="#submenuTanggungan" data-toggle="collapse" data-target="#submenuTanggungan"><img src="~/img/svg/tanggungan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Tanggungan</span></a>
    <div class="collapse" id="submenuTanggungan" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkPO")" asp-area="" asp-controller="AkPO" asp-action="Index"><span>Pesanan Tempatan</span></a></li>
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkInden")" asp-area="" asp-controller="AkInden" asp-action="Index"><span>Inden Kerja</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("AkBelian")" asp-area="" asp-controller="AkBelian" asp-action="Index"><span>Invois Pembekal</span></a></li>
        </ul>
    </div>
</li>