@model DKonfigKelulusan

@{
    ViewData["Title"] = "Konfigurasi Kelulusan - Papar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kategoriKelulusan = "";
    var jenisModul = "";
    
}

<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-dark mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Papar</span>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="DPekerjaId" class="control-label"></label>
            <input class="form-control form-control-sm text-uppercase" value="@Model.DPekerja?.NoGaji - @Model.DPekerja?.Nama" readonly/>
        </div>
        <div class="row">
            <div class="col-md-6">            
                @switch (Model.EnKategoriKelulusan)
                {
                    case EnKategoriKelulusan.Pengesah:
                        kategoriKelulusan = "Pengesah";
                        break;
                    case EnKategoriKelulusan.Penyemak:
                        kategoriKelulusan = "Penyemak";
                        break;
                    case EnKategoriKelulusan.Pelulus:
                        kategoriKelulusan = "Pelulus";
                        break;
                }
                <div class="form-group">
                    <label asp-for="EnKategoriKelulusan" class="control-label"></label>
                    <input asp-for="EnKategoriKelulusan" class="form-control form-control-sm text-uppercase" value="@kategoriKelulusan" readonly />
                </div>
            </div>
            <div class="col-md-6">
                @switch (Model.EnJenisModul)
                {
                    case EnJenisModul.Perolehan:
                        jenisModul = "Perolehan";
                        break;
                    case EnJenisModul.Bajet:
                        jenisModul = "Bajet";
                        break;
                    case EnJenisModul.Baucer:
                        jenisModul = "Baucer";
                        break;
                    case EnJenisModul.Tanggungan:
                        jenisModul = "Tanggungan";
                        break;
                    case EnJenisModul.Jurnal:
                        jenisModul = "Jurnal";
                        break;
                }
                <div class="form-group">
                    <label asp-for="EnJenisModul" class="control-label"></label>
                    <input asp-for="EnJenisModul" class="form-control form-control-sm text-uppercase" value="@jenisModul" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JBahagianId" class="control-label"></label>
            <input class="form-control form-control-sm text-uppercase" value="@Model.JBahagian?.Kod - @Model.JBahagian?.Perihal" readonly />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="KataLaluan" class="control-label"></label>
                    <input asp-for="KataLaluan" class="form-control form-control-sm text-uppercase" readonly />
                    <span asp-validation-for="KataLaluan" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tandatangan" class="control-label"></label>
                        <input asp-for="Tandatangan" class="form-control form-control-sm text-uppercase" readonly />
                        <span asp-validation-for="Tandatangan" class="text-danger"></span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MinAmaun" class="control-label"></label>
                    <input asp-for="MinAmaun" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MaksAmaun" class="control-label text-white"></label>
                    <input asp-for="MaksAmaun" class="form-control form-control-sm text-uppercase" readonly />
                </div>
            </div>
        </div>
        <hr />

        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn ac-primary btn-sm">Ubah</a>
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </div>

    </div>
</div>
