@model DKonfigKelulusan

@{
    ViewData["Title"] = "Konfigurasi Kelulusan - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-primary mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / <a asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Papar</a> / Ubah</span>
            </div>
            <div class="col-4 ">
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input name="syscode" value="SPPB" hidden />
            <input asp-for="DPekerjaId" hidden />
            <input asp-for="JBahagianId" hidden />
            <input asp-for="EnKategoriKelulusan" hidden />
            <input asp-for="EnJenisModulKelulusan" hidden />

            <div class="form-group">
                <label asp-for="DPekerjaId" class="control-label"></label>
                <input class="form-control form-control-sm text-uppercase" value="@Model.DPekerja?.NoGaji - @Model.DPekerja?.Nama" readonly />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EnKategoriKelulusan" class="control-label"></label>
                        <input class="form-control form-control-sm text-uppercase" value="@Model.EnKategoriKelulusan" readonly />
                    </div>
                   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EnJenisModulKelulusan" class="control-label"></label>
                        <input class="form-control form-control-sm text-uppercase" value="@Model.EnJenisModulKelulusan" readonly />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JBahagianId" class="control-label"></label>
                <input class="form-control form-control-sm text-uppercase" value="@Model.JBahagian?.Kod - @Model.JBahagian?.Perihal" readonly />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KataLaluan" class="control-label"></label>
                        <input asp-for="KataLaluan" class="form-control form-control-sm text-uppercase" type="text" readonly />
                        <span asp-validation-for="KataLaluan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Tandatangan" class="control-label"></label>
                        <input asp-for="Tandatangan" class="form-control form-control-sm text-uppercase" readonly />
                            <span asp-validation-for="Tandatangan" class="text-danger"></span>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MinAmaun" class="control-label"></label>
                        <input asp-for="MinAmaun" class="form-control form-control-sm"/>
                        <span asp-validation-for="MinAmaun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MaksAmaun" class="control-label text-white"></label>
                        <input asp-for="MaksAmaun" class="form-control form-control-sm" />
                        <span asp-validation-for="MaksAmaun" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}