@model AbWaran

@{
    ViewData["Title"] = "Waran - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleCreatePartial.cshtml" />
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row">
                <div class="form-group col-md-4">
                <label asp-for="Tahun" class="control-label"></label>
                <input asp-for="Tahun" class="form-control form-control-sm" />
                <span asp-validation-for="Tahun" class="text-danger"></span>
            </div>
                <div class="form-group col-md-4">
                <label asp-for="NoRujukan" class="control-label"></label>
                <input asp-for="NoRujukan" class="form-control form-control-sm text-uppercase" />
                <span asp-validation-for="NoRujukan" class="text-danger"></span>
            </div>
                <div class="form-group col-md-4">
                <label asp-for="Tarikh" class="control-label"></label>
                <input asp-for="Tarikh" class="form-control form-control-sm text-uppercase" type="date" />
                <span asp-validation-for="Tarikh" class="text-danger"></span>
            </div>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <label asp-for="EnJenisPeruntukan" class="control-label"></label>
                            <div class="custom-control custom-radio">
                                <input asp-for="EnJenisPeruntukan" type="radio" class="custom-control-input" value="@EnJenisPeruntukan.PeruntukanAsal">
                                <label class="custom-control-label" for="EnJenisPeruntukan2">@EnJenisPeruntukan.PeruntukanAsal.GetDisplayName()</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="EnJenisPeruntukan" type="radio" class="custom-control-input" value="@EnJenisPeruntukan.PeruntukanTambahan">
                                <label class="custom-control-label" for="EnJenisPeruntukan3">@EnJenisPeruntukan.PeruntukanTambahan.GetDisplayName()</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="EnJenisPeruntukan" type="radio" class="custom-control-input" value="@EnJenisPeruntukan.Viremen">
                                <label class="custom-control-label" for="EnJenisPeruntukan4">@EnJenisPeruntukan.Viremen.GetDisplayName()</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Sebab" class="control-label"></label>
                    <input asp-for="Sebab" class="form-control form-control-sm text-uppercase" />
                    <span asp-validation-for="Sebab" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Jumlah" class="control-label"></label>
                    <input asp-for="Jumlah" class="form-control form-control-sm text-uppercase" />
                    <span asp-validation-for="Jumlah" class="text-danger"></span>
                </div>
                </div>
           
            @*table Objek*@
            <div class="card box-shadow mb-3">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:40%">Carta</th>
                                <th style="width:40%">Bahagian</th>
                                <th style="width:20%">Amaun RM</th>
                                @* <th style="width:20%">TK</th> *@
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="width:40%">
                                    <select class="form-control form-control-sm text-uppercase" id="objekJBahagianId">
                                        <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                                        @foreach (var s in ViewBag.JBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td style="width:40%">
                                    <select class="form-control form-control-sm select2" id="objekAkCartaId">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                
                                <td style="width:50%"><input class="form-control form-control-sm" type="number" id="objekAmaun" step="0.01" value="0.00"></td>
                                
                                @* <td style="width:40%">
                                    <select class="form-control form-control-sm select2" id="objekTK">
                                        <option value="" disabled selected>-- Pilih TK --</option>
                                        <option value="+">+</option>
                                        <option value="-">-</option>
                                    </select>
                                </td> *@
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAddObjek"><i class="fas fa-plus"></i></button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                        <input asp-for="Jumlah" class="form-control form-control-sm" value="0.00" readonly />
                    </div>
                </div>
            </div>
            @*table Objek end*@ 

            <!-- Modal Objek -->
            <div class="modal fade bd-example-modal-lg" id="moObjek" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Objek</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input id="moObjekId" hidden />
                                <div class="form-group">
                                    <label class="col-form-label">Bahagian</label>
                                    <select class="form-control form-control-sm text-uppercase" id="moObjekJBahagianId" disabled>
                                        <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                                        @foreach (var s in ViewBag.JBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Kod Akaun</label>
                                    <select class="form-control form-control-sm" id="moObjekAkCartaId" disabled>
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </div>
                               
                                <div class="form-group">
                                    <label class="col-form-label">Amaun</label>
                                    <input type="number" class="form-control form-control-sm" id="moObjekAmaun">
                                </div>
                                @* <div class="form-group">
                                    <label class="col-form-label">TK</label>
                                    <select class="form-control form-control-sm" id="moObjekTK" disabled>
                                        <option value="" disabled selected>-- Pilih TK --</option>
                                        <option value="+">+</option>
                                        <option value="-">-</option>
                                    </select>
                                </div> *@
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="UpdateModalObjek()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Objek End -->

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
