@model AbWaran

@{
    ViewData["Title"] = "Waran - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleDeletePartial.cshtml" />

        <p class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</p>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Tahun" class="control-label"></label>
                <input asp-for="Tahun" class="form-control form-control-sm" readonly />
                <span for="Tahun" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="NoRujukan" class="control-label"></label>
                <input asp-for="NoRujukan" class="form-control form-control-sm text-uppercase" readonly />
                <span for="NoRujukan" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Tarikh" class="control-label"></label>
                <input asp-for="Tarikh" class="form-control form-control-sm text-uppercase" type="date" readonly />
                <span for="Tarikh" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-4">
                <div class="card">
                    <div class="card-body">
                        <label asp-for="EnJenisPeruntukan" class="control-label"></label>
                        <div class="custom-control custom-radio">
                            <input asp-for="EnJenisPeruntukan" type="radio" class="custom-control-input" value="@EnJenisPeruntukan.PeruntukanAsal" readonly>
                            <label class="custom-control-label" for="EnJenisPeruntukan2">@EnJenisPeruntukan.PeruntukanAsal.GetDisplayName()</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input asp-for="EnJenisPeruntukan" type="radio" class="custom-control-input" value="@EnJenisPeruntukan.PeruntukanTambahan" readonly>
                            <label class="custom-control-label" for="EnJenisPeruntukan3">@EnJenisPeruntukan.PeruntukanTambahan.GetDisplayName()</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input asp-for="EnJenisPeruntukan" type="radio" class="custom-control-input" value="@EnJenisPeruntukan.Viremen" readonly>
                            <label class="custom-control-label" for="EnJenisPeruntukan4">@EnJenisPeruntukan.Viremen.GetDisplayName()</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Sebab" class="control-label"></label>
                <input asp-for="Sebab" class="form-control form-control-sm text-uppercase" readonly />
                <span for="Sebab" class="text-danger"></span>
            </div>
        </div>


        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input name="syscode" value="SPPB" hidden />
            <input type="submit" value="Hapus" class="btn ac-danger btn-sm" />
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </form>
    </div>
</div>
