@model AkPenyesuaianBank

@{
    ViewData["Title"] = "Penyata Penyesuaian Bank - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleCreateTransaksiPartial.cshtml" />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <input name="Id" id="Id" value="0" hidden />
            @*maklumat umum*@
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input asp-for="NoRujukan" class="form-control form-control-sm" required readonly value="@ViewBag.NoRujukan" />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label>
                        <input asp-for="Tahun" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy")" required />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Bulan" class="control-label"></label>
                        <input asp-for="Bulan" class="form-control form-control-sm" value="@DateTime.Now.ToString("MM")" required />
                        <span asp-validation-for="Bulan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AkBankId" class="control-label"></label>
                        <select asp-for="AkBankId" class="form-control form-control-sm text-uppercase select2" required>
                            @foreach (var item in ViewBag.AkBank)
                            {
                                <option value="@item.Id">@item.Kod - @item.Perihal  </option>
                            }
                        </select>
                        <span asp-validation-for="AkBankId" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                   asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")"
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>