@model IEnumerable<AkAkaun>

@{
    ViewData["Title"] = "Cetakan Senarai Carta";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    CompanyDetails company = new CompanyDetails();

    int rowNo = 0;
    decimal baki = 0;
    decimal jDebit = 0;
    decimal jKredit = 0;
    string bahagian = "-";

}
<style>

    .image-container {
        width: 80px;
        height: 80px;
        text-align: center;
    }

        .image-container img {
            height: 100%;
        }

    .topic tr {
        line-height: 1rem;
    }

    .center {
        padding: 70px 0;
        border: 3px solid green;
        text-align: center;
    }

    .notbold {
        font-weight: normal
    }

    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5.8em;
    }

    .breakhere {
        page-break-after: always
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }
</style>

<div class="row flexrow mb-1 text-center">
    <div class="col-12 text-uppercase">
        <img class="image-container mb-2" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("t")</p>
    </div>

</div>
<br />
<table class="table table-bordered table-sm topic">
    <thead>
        <tr class="bg-dark text-white">
            <th colspan="11" class="text-center bg-dark text-white">
                <strong>
                    SENARAI LEJAR AKAUN @ViewData["searchCarta"] BAGI KW @ViewData["searchKW"]
                    <br />
                    DARI TARIKH : @ViewData["tarDari"] -> @ViewData["tarHingga"]
                </strong>
            </th>
        </tr>
        <tr style="line-height:0.8rem;" class="bg-secondary text-white">

            <th class="thbil">
                BIL
            </th>
            <th>
                TARIKH
            </th>
            <th>
                PTJ / BAHAGIAN
            </th>
            <th>
                KOD AKAUN
            </th>
            <th>
                NO RUJUKAN
            </th>
            <th class="thdebit">
                DEBIT RM
            </th>
            <th class="thkredit">
                KREDIT RM
            </th>
            <th class="thtotal">
                BAKI RM
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            if (item.NoRujukan == "Baki Awal")
            {

                if (item.Debit > 0)
                {
                    baki += item.Debit;
                }
                else
                {
                    baki -= item.Kredit;
                }
            }
            else
            {
                bahagian = BelanjawanFormatter.ConvertToBahagian(item.JKW?.Kod, item.JPTJ?.Kod, item.JBahagian?.Kod) + " - " + @item.JPTJ?.Perihal + " (" + @item.JBahagian?.Perihal + ")";
                if (item.Debit > 0)
                {
                    baki += item.Debit;
                    jDebit += item.Debit;
                }

                if (item.Kredit > 0)
                {
                    baki -= item.Kredit;
                    jKredit += item.Kredit;
                }
            }


            <tr>
                <td class="bil">
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarikh)
                </td>
                <td>
                    @bahagian
                </td>
                <td>
                    @item.AkCarta2?.Kod - @item.AkCarta2?.Perihal
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoRujukan)
                </td>
                <td class=" text-right">
                    @Convert.ToDecimal(item.Debit).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Kredit).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(baki).ToString("#,##0.00")
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="table-warning">
            <td colspan="4" class="text-right"><strong>JUMLAH KESELURUHAN RM</strong></td>
            <td class="text-right"><strong>@Convert.ToDecimal(jDebit).ToString("#,##0.00")</strong></td>
            <td class="text-right"><strong>@Convert.ToDecimal(jKredit).ToString("#,##0.00")</strong></td>
            <td class="text-right"><strong>@Convert.ToDecimal(baki).ToString("#,##0.00")</strong></td>
        </tr>
    </tfoot>
</table>