@model AkBelian

@{
    ViewData["Title"] = "Invois Pembekal - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal jumlahPerihal = 0;

}
<partial name="_JSCreate" />
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-primary mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index"
                    asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                    asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                    asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")"
                    class="text-secondary">Indeks</a> / <a asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Papar</a> / Ubah</span>
            </div>
            <div class="col-4 ">
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                   asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")"
                   class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input name="syscode" value="SPPB" hidden />
            <input asp-for="JKWId" hidden />
            <input asp-for="AkPOId" hidden />
            <input asp-for="AkNotaMintaId" hidden />
            <input asp-for="AkIndenId" hidden />
            <input asp-for="EnJenisBayaranBelian" hidden />
            <input asp-for="DDaftarAwamId" hidden />

            @*maklumat umum*@
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input asp-for="NoRujukan" class="form-control form-control-sm" required readonly />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label>
                        <input asp-for="Tahun" class="form-control form-control-sm" required readonly/>
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" class="form-control form-control-sm" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <label asp-for="EnJenisBayaranBelian" class="control-label"></label>
                    <div class="row">
                        <div class="col-4">
                            <div class="custom-control custom-radio">
                                <input asp-for="EnJenisBayaranBelian" type="radio" name="EnJenisBayaranBelian" class="custom-control-input" value="@EnJenisBayaranBelian.PO" disabled>
                                <label class="custom-control-label" for="EnJenisBayaranBelian1">@EnJenisBayaranBelian.PO.GetDisplayName()</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="custom-control custom-radio">
                                <input asp-for="EnJenisBayaranBelian" type="radio" name="EnJenisBayaranBelian" class="custom-control-input" value="@EnJenisBayaranBelian.Inden" disabled>
                                <label class="custom-control-label" for="EnJenisBayaranBelian2">@EnJenisBayaranBelian.Inden.GetDisplayName()</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="custom-control custom-radio">
                                <input asp-for="EnJenisBayaranBelian" type="radio" name="EnJenisBayaranBelian" class="custom-control-input" value="@EnJenisBayaranBelian.LainLain" disabled>
                                <label class="custom-control-label" for="EnJenisBayaranBelian3">@EnJenisBayaranBelian.LainLain.GetDisplayName()</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TarikhTerimaBahagian" class="control-label"></label>
                        <input asp-for="TarikhTerimaBahagian" type="date" class="form-control form-control-sm" required  />
                        <span asp-validation-for="TarikhTerimaBahagian" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TarikhTerimaKewangan" class="control-label"></label>
                        <input asp-for="TarikhTerimaKewangan" class="form-control form-control-sm" />
                        <span asp-validation-for="TarikhTerimaKewangan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TarikhAkuanKewangan" class="control-label"></label>
                        <input asp-for="TarikhAkuanKewangan" class="form-control form-control-sm" />
                        <span asp-validation-for="TarikhAkuanKewangan" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*div untuk EnJenisBayaranBelian*@
            <div class="form-group" id="divAkNotaMintaId" hidden>
                <label asp-for="AkNotaMintaId" class="control-label"></label>
                <select asp-for="AkNotaMintaId" class="form-control form-control-sm text-uppercase select2" required>
                    <option value="" disabled selected>- SILA PILIH -</option>
                    @foreach (var item in ViewBag.AkNotaMinta)
                    {
                        <option value="@item.Id">@item.NoRujukan</option>
                    }
                </select>
                <span asp-validation-for="AkNotaMintaId" class="text-danger"></span>
            </div>
            <div class="form-group" id="divAkPOId" hidden>
                <label asp-for="AkPOId" class="control-label"></label>
                <select asp-for="AkPOId" class="form-control form-control-sm text-uppercase select2" required>
                    <option value="" disabled selected>- SILA PILIH -</option>
                    @foreach (var item in ViewBag.AkPO)
                    {
                        <option value="@item.Id">@item.NoRujukan</option>
                    }
                </select>
                <span asp-validation-for="AkPOId" class="text-danger"></span>
            </div>
            <div class="form-group" id="divAkIndenId" hidden>
                <label asp-for="AkIndenId" class="control-label"></label>
                <select asp-for="AkIndenId" class="form-control form-control-sm text-uppercase select2" required>
                    <option value="" disabled selected>- SILA PILIH -</option>
                    @foreach (var item in ViewBag.AkInden)
                    {
                        <option value="@item.Id">@item.NoRujukan</option>
                    }
                </select>
                <span asp-validation-for="AkIndenId" class="text-danger"></span>
            </div>
            @*div end*@

            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label>
                        <select asp-for="JKWId" class="form-control form-control-sm text-uppercase select2" disabled>
                            @foreach (var item in ViewBag.JKW)
                            {
                                <option value="@item.Id">@BelanjawanFormatter.ConvertToKW(item.Kod) - @item.Perihal</option>
                            }
                        </select>
                        <span asp-validation-for="JKWId" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="AkAkaunAkruId" class="control-label"></label>
                        <select asp-for="AkAkaunAkruId" class="form-control form-control-sm text-uppercase select2" required>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="AkAkaunAkruId" class="text-danger"></span>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DDaftarAwamId" class="control-label"></label>
                <select asp-for="DDaftarAwamId" class="form-control form-control-sm text-uppercase select2" disabled>
                    <option value="">- SILA PILIH -</option>
                    @foreach (var item in ViewBag.DDaftarAwam)
                    {
                        <option value="@item.Id">@item.Kod - @item.Nama</option>
                    }
                </select>
                <span asp-validation-for="DDaftarAwamId" class="text-danger"></span>
            </div>
            @*end*@
            <br />
            @*table Objek*@
            <div class="card box-shadow mb-3">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:30%">Bahagian</th>
                                <th style="width:30%">Kod</th>
                                <th style="width:30%">Kod Cukai</th>
                                <th style="width:10%">Amaun RM</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @if (ViewBag.akBelianObjek != null)
                            {
                                foreach (var item in ViewBag.akBelianObjek)
                                {
                                    <tr>
                                        <td hidden>@item.JKWPTJBahagianId</td>
                                        <td class="text-uppercase">@item.JKWPTJBahagian.Kod - @item.JKWPTJBahagian.JBahagian?.Perihal (@item.JKWPTJBahagian.JPTJ?.Perihal)</td>
                                        <td hidden>@item.AkCartaId</td>
                                        <td class="text-uppercase">@item.AkCarta?.Kod - @item.AkCarta?.Perihal</td>
                                        <td hidden>@item.JCukaiId</td>
                                        <td class="text-uppercase">@item.JCukai?.Kod</td>
                                        <td class="text-uppercase text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" data-toggle="modal" data-target="#moObjek" onclick="UpdateObjek(this)"><i class="fa fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" onclick="RemoveObjek(this)"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <select class="form-control form-control-sm text-uppercase" id="objekJKWPTJBahagianId">
                                        <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                                        @foreach (var s in ViewBag.JKWPTJBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm select2 text-uppercase" id="objekAkCartaId">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm select2 text-uppercase" id="objekJCukaiId">
                                        <option value="" disabled selected>-- Pilih Cukai --</option>
                                        @foreach (var s in ViewBag.JCukai)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td><input class="form-control form-control-sm" type="number" id="objekAmaun" step="0.01" value="0.00"></td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAddObjek"><i class="fas fa-plus"></i></button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                        <input asp-for="Jumlah" class="form-control form-control-sm" readonly />
                    </div>
                </div>
            </div>
            @*table Objek end*@

            @*table Perihal*@
            <div class="card box-shadow mb-3">
                <div class="card-header">
                    <h6>Perihal</h6>
                </div>
                <div class="card-body">
                    <table id="tblPerihal" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:10%">Bil</th>
                                <th style="width:40%">Perihal</th>
                                <th style="width:10%">Ktt.</th>
                                <th style="width:10%">Unit</th>
                                <th style="width:10%">Hrg/Unit RM</th>
                                <th style="width:20%">Amaun RM</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPerihal">
                            @if (ViewBag.akBelianPerihal != null)
                            {
                                foreach (var item in ViewBag.akBelianPerihal)
                                {
                                    <tr>
                                        <td class="text-end">@item.Bil</td>
                                        <td class="text-uppercase">@item.Perihal</td>
                                        <td class="text-end">@item.Kuantiti</td>
                                        <td class="text-uppercase">@item.Unit</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Harga).ToString("#,##0.00")</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" data-toggle="modal" data-target="#moPerihal" onclick="UpdatePerihal(this)"><i class="fa fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" onclick="RemovePerihal(this)"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    jumlahPerihal += item.Amaun;
                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input class="form-control form-control-sm" type="number" id="perihalBil" step="0.01" value="1">
                                </td>
                                <td>
                                    <textarea id="perihalPerihal" class="form-control text-uppercase form-control-sm"></textarea>
                                </td>
                                <td><input class="form-control form-control-sm" type="number" id="perihalKuantiti" step="0.01" value="0.00"></td>
                                <td><input class="form-control form-control-sm text-uppercase" type="text" id="perihalUnit" value="-"></td>
                                <td><input class="form-control form-control-sm" type="number" id="perihalHarga" step="0.01" value="0.00"></td>
                                <td><input class="form-control form-control-sm" type="number" id="perihalAmaun" readonly value="0.00"></td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAddPerihal"><i class="fas fa-plus"></i></button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label name="perihalJumlah" class="control-label">Jumlah Perihal RM</label>
                        <input name="perihalJumlah" id="perihalJumlah" class="form-control form-control-sm" value="@jumlahPerihal" readonly />
                    </div>
                </div>
            </div>
            @*table Perihal end*@
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                   asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")"
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="moObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moObjekId" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Bahagian</label>
                        <select class="form-control form-control-sm text-uppercase" id="moObjekJKWPTJBahagianId" disabled>
                            <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                            @foreach (var s in ViewBag.JKWPTJBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Kod Akaun</label>
                        <select class="form-control form-control-sm" id="moObjekAkCartaId" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun</label>
                        <input type="number" class="form-control form-control-sm" id="moObjekAmaun">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="UpdateModalObjek()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
<!-- Modal Perihal -->
<div class="modal fade bd-example-modal-lg" id="moPerihal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perihal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moPerihalId" hidden />
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Bil</label>
                                <input type="number" class="form-control form-control-sm" id="moPerihalBil" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Perihal</label>
                        <textarea class="form-control form-control-sm text-uppercase" id="moPerihalPerihal" rows="2"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Ktt</label>
                                <input type="number" class="form-control form-control-sm" id="moPerihalKuantiti" step="0.01">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Unit</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="moPerihalUnit">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Harga/Unit RM</label>
                                <input type="number" class="form-control form-control-sm" id="moPerihalHarga" step="0.01">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Amaun</label>
                                <input type="number" class="form-control form-control-sm" id="moPerihalAmaun" readonly>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="UpdateModalPerihal()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Perihal End -->