@model IEnumerable<AkBelian>

@{
    ViewData["Title"] = "Invois Pembekal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="loading">
        <img class="loading-image" src="~/img/loading.gif" alt="Loading..." />
    </div>
    <div class="card card-body border main-page" hidden>
        <partial name="~/Views/Partials/Common/_TitleIndexPartial.cshtml" />

        <partial name="~/Views/Partials/Common/_SearchTransaksiPartial.cshtml" />

        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover compact" width="100%">
                    <caption>Rekod dipamerkan : @Model.Count()</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th width="5%">Bil</th>
                            <th class="kod" width="10%">
                                No Invois
                            </th>
                            <th class="tarikh">
                                Tarikh
                            </th>
                            <th class="tarikhTerima">
                                Tarikh Terima
                            </th>
                            <th class="jumlah">
                                Jumlah RM
                            </th>
                            <th class="noLoIn">
                                No LO / IN
                            </th>
                            <th class="pembekal">
                                Pembekal
                            </th>
                            <th class="status">
                                Status
                            </th>
                            <th>
                                Tahun
                            </th>
                            <th>
                                Batal
                            </th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tabletype = item.FlHapus == 1 ? "table-danger" : null;
                            <tr class="@tabletype text-uppercase">
                                <td></td>
                                <td class="text-uppercase">
                                    @item.NoRujukan
                                </td>
                                <td class="text-uppercase text-end">
                                    @item.Tarikh.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-uppercase text-end">
                                    @item.TarikhTerimaBahagian.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-uppercase text-end">
                                    @Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")
                                </td>
                                <td>
                                    @item.AkPO?.NoRujukan @item.AkInden?.NoRujukan  @item.AkNotaMinta?.NoRujukan
                                </td>
                                <td class="text-uppercase">
                                    @item.DDaftarAwam?.Nama
                                </td>
                                <td class="text-uppercase">
                                    @item.EnStatusBorang.GetDisplayName()
                                </td>
                                <td class="text-uppercase">
                                    @item.Tahun
                                </td>
                                @if (item.FlBatal == 1)
                                {
                                    <td class="text-uppercase">
                                        BATAL
                                    </td>
                                }
                                else
                                {
                                    <td class="text-uppercase">
                                    </td>
                                }

                                <td width="5%" class="text-center">
                                    <div class="btn-group" role="group" aria-label="action">
                                        @if (item.FlHapus == 0)
                                        {
                                            <a asp-action="Details" asp-route-id="@item.Id"
                                               class="btn text-primary btn-sm bg-white" type="button"
                                               data-toggle="tooltip" data-placement="top"
                                               title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                            @if (item.EnStatusBorang == EnStatusBorang.None)
                                            {
                                                <a asp-action="Delete" asp-route-id="@item.Id"
                                                   class="btn text-danger btn-sm bg-white" type="button"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Hapus"><i class="fas fa-trash"></i></a>
                                            }
                                            else if (item.EnStatusBorang == EnStatusBorang.Lulus)
                                            {
                                                <a asp-action="BatalPos" asp-route-id="@item.Id"
                                                   class="btn text-warning btn-sm bg-white" type="button"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Batal Pos"><i class="fas fa-angle-left"></i></a>
                                                <a asp-action="BatalLulus" asp-route-id="@item.Id"
                                                   class="btn text-danger btn-sm bg-white" type="button"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Batal Kelulusan"><i class="fas fa-history"></i></a>
                                            }
                                            else if (item.EnStatusBorang == EnStatusBorang.Kemaskini)
                                            {
                                                <a asp-action="PosSemula" asp-route-id="@item.Id" asp-route-syscode="SPPB"
                                                   class="btn text-success btn-sm bg-white" type="button"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Pos Semula"><i class="fas fa-angle-right"></i></a>
                                            }
                                        }
                                        else
                                        {
                                            if (User.IsInRole("Supervisor") || User.IsInRole("SuperAdmin"))
                                            {
                                                <a asp-action="Rollback" asp-route-id="@item.Id" asp-route-syscode="SPPB" class="btn text-info btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Rollback">
                                                    <i class="fas fa-trash-restore"></i>
                                                </a>

                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>