@model AkTerima

@{
    decimal jumlahUrusniaga = 0;
}

<div class="row mb-2">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tarikh" class="control-label"></label>
            <input asp-for="Tarikh" class="form-control form-control-sm" readonly />
            <span asp-validation-for="Tarikh" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JKWId" class="control-label"></label>
            <input value="@Model.JKW?.Kod - @Model.JKW?.Perihal" class="form-control form-control-sm" readonly />

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="AkBankId" class="control-label"></label>
            <input value="@Model.AkBank?.Perihal - @Model.AkBank?.NoAkaun" class="form-control form-control-sm" readonly />

        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="JCawanganId" class="control-label"></label>
    <input value="@Model.JCawangan?.Kod - @Model.JCawangan?.Perihal" class="form-control form-control-sm text-uppercase" readonly />

</div>
<div class="form-group">
    <label asp-for="DDaftarAwamId" class="control-label"></label>
    <input value="@Model.DDaftarAwam?.Kod - @Model.DDaftarAwam?.Nama" class="form-control form-control-sm text-uppercase" readonly />

</div>

<div class="row mb-2">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="NoRujukan" class="control-label"></label>
            <input asp-for="NoRujukan" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="KodPembayar" class="control-label"></label>
            <input asp-for="KodPembayar" class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Nama" class="control-label"></label>
            <input asp-for="Nama" class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
</div>

<div class="form-group">
    <label asp-for="Alamat1" class="control-label"></label>
    <input asp-for="Alamat1" class="form-control form-control-sm mb-2 text-uppercase" readonly />
    <input asp-for="Alamat2" class="form-control form-control-sm mb-2 text-uppercase" readonly />
    <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" readonly />
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Poskod" class="control-label"></label>
            <input asp-for="Poskod" class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Bandar" class="control-label"></label>
            <input asp-for="Bandar" class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JNegeriId" class="control-label"></label>
            <input value="@Model.JNegeri?.Kod - @Model.JNegeri?.Perihal" class="form-control form-control-sm" readonly />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Telefon1" class="control-label"></label>
            <input asp-for="Telefon1" class="form-control form-control-sm text-uppercase" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Emel" class="control-label"></label>
            <input asp-for="Emel" class="form-control form-control-sm" type="email" readonly />
        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="Perihal" class="control-label"></label>
    <textarea asp-for="Perihal" class="form-control form-control-sm text-uppercase" rows="2" readonly></textarea>
</div>

@*table Objek*@
<div class="card box-shadow mb-3">
    <div class="card-header">
        <h6>Objek</h6>
    </div>
    <div class="card-body">
        <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:40%">Bahagian</th>
                    <th style="width:40%">Kod</th>
                    <th style="width:20%">Amaun RM</th>
                </tr>
            </thead>
            <tbody id="tbodyObjek">
                @if (ViewBag.akTerimaObjek != null)
                {
                    foreach (var item in ViewBag.akTerimaObjek)
                    {
                        <tr>
                            <td class="text-uppercase">@BelanjawanFormatter.ConvertToBahagian(item.JBahagian?.JPTJ?.JKW?.Kod, item.JBahagian?.JPTJ?.Kod, item.JBahagian?.Kod) - @item.JBahagian?.Perihal </td>
                            <td class="text-uppercase">@item.AkCarta?.Kod - @item.AkCarta?.Perihal </td>
                            <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
            <input asp-for="Jumlah" class="form-control form-control-sm" readonly />
        </div>
    </div>
</div>
@*table Objek end*@

@*table urusniaga*@
<div class="card box-shadow mb-3">
    <div class="card-header">
        <h6>Urusniaga</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tblCaraBayar" class="table table-sm nowrap text-nowrap" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cara Bayar</th>
                        <th>Amaun RM</th>
                        <th>No Cek</th>
                        <th>Jenis Cek</th>
                        <th>Kod Bank Cek</th>
                        <th>Tempat Cek</th>
                        <th>No Slip</th>
                        <th>Tarikh Slip</th>
                    </tr>
                </thead>
                <tbody id="tbodyCaraBayar">
                    @if (Model.AkTerimaCaraBayar != null)
                    {

                        foreach (var item in Model.AkTerimaCaraBayar)
                        {
                            <tr>
                                <td class="text-uppercase">@item.JCaraBayar?.Kod - @item.JCaraBayar?.Perihal</td>
                                <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                <td>@item.NoCekMK</td>
                                <td class="text-uppercase">@item.EnJenisCek.GetDisplayName()</td>
                                <td class="text-uppercase">@item.KodBankCek</td>
                                <td class="text-uppercase">@item.TempatCek</td>
                                <td class="text-uppercase">@item.NoSlip</td>
                                <td>@item.TarikhSlip?.ToString("dd/MM/yyyy")</td>
                            </tr>
                            jumlahUrusniaga += item.Amaun;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <label class="control-label">Jumlah Urusniaga RM</label>
            <input class="form-control form-control-sm" id="JumlahCaraBayar" name="JumlahCaraBayar" value="@Convert.ToDecimal(jumlahUrusniaga).ToString("#,##0.00")" readonly />
        </div>
    </div>
</div>
@*table urusniaga end*@
<hr />