<script type="text/javascript">
    // autoload JKWPTJBahagian list when KW is picked
    $("body").on('change', "#JKWId", function () {
        var jKWId = $("#JKWId").val();
        EmptyCart();
        GetJKWPTJBahagianList(jKWId);
    });

    function GetJKWPTJBahagianList(jKWId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetJKWPTJBahagianList", "JKW")',
            data: { JKWId : jKWId },
            dataType: "json",
            success: function (msg) {
                if (msg.result == "OK") {
                    // empty selection
                    $("#objekJKWPTJBahagianId").empty();

                    //append new options
                    $("#objekJKWPTJBahagianId").append("<option value='0' disable> -- Pilih Bahagian -- </option>");
                    for (var i = 0; i < msg.list.length; i++) {
                        var item = msg.list[i];

                        var str = "<option value='" + item.id + "'>" + item.kod + " - " + item.jBahagian.perihal + "</option>";
                        $("#objekJKWPTJBahagianId").append(str);
                    }
                }
                else {
                    toastr.error(message);
                    toastr.options.timeOut = 2000; // 2s
                }

            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
    //
    //empty cart
    function EmptyCart() {
        $.ajax({
            type: "POST",
            //url: "/AkPV/JsonEmptyCart",
            url: '@Url.Action("JsonEmptyCart", "AkTerima")',
            dataType: "json",
            success: function (msg) {
                $("table tbody#tbodyObjek").empty();
                $("table tbody#tbodyCaraBayar").empty();
                $("#objekJumlah").val("0.00");
                $("#objekJumlahCaraBayar").val("0.00");
                //$("#objekAkCartaId option").prop('disabled', false);
                //$("#objekAkCartaId option:selected").prop('disabled', true);
                //$("#objekJBahagianId option").prop('disabled', false);
                //$("#objekJBahagianId option:selected").prop('disabled', true);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    };
    //empty cart end

    // check if jumlahObjek is equal to jumlahUrusniaga
    function checkJumlah() {
        var objekJumlah = $("#Jumlah").val();
        var caraBayarJumlah = $("#caraBayarJumlah").val();

        if (objekJumlah == 0.00 && caraBayarJumlah == 0.00) {
            $("#btnSave").show();
        } else {
            if (objekJumlah == caraBayarJumlah) {
                $("#btnSave").show();
            }
            else {
                $("#btnSave").hide();
            }
        }
    }
    // check end

    // populate tables in pages
    function PopulateTablesFromCart() {
    var jumlah = $("#Jumlah");
    var jumlahCaraBayar = $("#JumlahCaraBayar");
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetAllItemCartAkTerima", "AkTerima")',
        dataType: "json",
        success: function (r) {

            //refresh updated table objek
            $("table tbody#tbodyObjek").empty();
            var sum = 0;
            if (r.objek.length > 0) {
                for (var i = 0; i < r.objek.length; i++) {
                    var item1 = r.objek[i];
                    var str = "<tr><td hidden>" + item1.jBahagianId +
                        "</td><td class='text-uppercase'>" + item1.jBahagian.kod + " - " + item1.jBahagian.perihal +
                        "</td><td hidden>" + item1.akCartaId +
                        "</td><td class='text-uppercase'>" + item1.akCarta.kod + " - " + item1.akCarta.perihal +
                        "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                        "</td><td>" +
                        "<button class='btn ac-primary btn-sm' type='button' data-toggle='modal' data-target='#moObjek' onclick='UpdateObjek(this)'><i class='fa fa-edit' ></i></button>" +
                        "</td><td>" +
                        "<button class='btn ac-danger btn-sm' type='button' onclick='RemoveObjek(this)'><i class='fas fa-trash' ></i></button>" +
                        "</td><tr>";
                    $("table tbody#tbodyObjek").append(str);
                    sum += item1.amaun;
                }
            }

            jumlah.val(sum.toFixed(2));
            // refresh updated table objek end

            // refresh updated table carabayar
            $("table tbody#tbodyCaraBayar").empty();
            var sum = 0;

            if (r.caraBayar.length > 0) {
                for (var i = 0; i < r.caraBayar.length; i++) {
                    var item1 = r.caraBayar[i];
                    var enJenisCek = "";

                    switch (item1.enJenisCek) {
                        case 1:
                            enJenisCek = "@EnJenisCek.Cawangan.GetDisplayName()"
                            break;
                            case 2:
    enJenisCek = "@EnJenisCek.Tempatan.GetDisplayName()"
                            break;
    case 3:
    enJenisCek = "@EnJenisCek.Luar.GetDisplayName()"
                            break;
    case 4:
    enJenisCek = "@EnJenisCek.LainLain.GetDisplayName()"
    break;
                    }



                    var str = "<tr><td hidden>" + item1.jBahagianId +
                        "</td><td class='text-uppercase'>" + item1.jCaraBayar.kod + " - " + item1.jCaraBayar.perihal +
                        "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                        "</td><td class='text-uppercase'>" + item1.noCekMK +
                        "</td><td class='text-uppercase'>" + enJenisCek +
                        "</td><td class='text-uppercase'>" + item1.kodBankCek +
                        "</td><td class='text-uppercase'>" + item1.tempatCek +
                        "</td><td class='text-uppercase'>" + item1.noSlip +
                        "</td><td class='text-uppercase'>" + showDate(item1.tarikhSlip) +
                        "</td><td>" +
                        "<button class='btn ac-primary btn-sm' type='button' data-toggle='modal' data-target='#moCaraBayar' onclick='UpdateCaraBayar(this)'><i class='fa fa-edit' ></i></button>" +
                        "</td><td>" +
                        "<button class='btn ac-danger btn-sm' type='button' onclick='RemoveCaraBayar(this)'><i class='fas fa-trash' ></i></button>" +
                        "</td><tr>";
                    $("table tbody#tbodyCaraBayar").append(str);
                    sum += item1.amaun;
                }
            }

            jumlahCaraBayar.val(sum.toFixed(2));
            // refresh updated table carabayar end

            checkJumlah();
        }
    });

}
    // populate tables in pages end
    //add tbl objek
    $("body").on("click", "#btnAddObjek", function () {
        //Reference the Name and Country TextBoxes.
        var Id = $("#Id");
        var akCartaId = $("#objekAkCartaId");
        var jBahagianId = $("#objekJBahagianId");
        if (jBahagianId.val() != null && akCartaId.val() != null) {
            GetJBahagianAkCarta(Id.val(), jBahagianId.val(), akCartaId.val());
        }

    });

    function GetJBahagianAkCarta(Id, jBahagianId, akCartaId) {
        var Objek = {
            JBahagianId: jBahagianId,
            AkCartaId: akCartaId
        }
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetJBahagianAkCarta", "AkTerima")',
            data: Objek,
            dataType: "json",
            success: function (r) {
                //Reference the TextBoxes.
                var objekJBahagianId = $("#objekJBahagianId");
                var objekAkCartaId = $("#objekAkCartaId");

                var objekAmaun = $("#objekAmaun");

                var AkTerimaObjek = {
                    AkTerimaId: Id,
                    JBahagianId: objekJBahagianId.val(),
                    AkCartaId: objekAkCartaId.val(),
                    Amaun: objekAmaun.val()
                }
                //Send the JSON array to Controller to Save into session (cart)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveCartAkTerimaObjek", "AkTerima")',
                    data: AkTerimaObjek,
                    dataType: "json",
                    success: function (result) {

                        var jumlah = $("#Jumlah");

                        //Sum value to Total text field
                        var sum = 0;
                        sum = parseFloat(objekAmaun.val()) + parseFloat(jumlah.val());
                        jumlah.val(sum.toFixed(2));

                        //Get the reference of the Table's TBODY element.
                        var tBody = $("#tblObjek > TBODY")[0];
                        //Add Row.
                        var row = tBody.insertRow(-1);

                        //Add jBahagianId cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.jBahagian.id);
                        cell.prop("hidden", !this.checked);

                        //Add jBahagian cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.jBahagian.kod + ' - ' + r.jBahagian.perihal);
                        cell.addClass('text-uppercase');

                        //Add akCartaId cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.akCarta.id);
                        cell.prop("hidden", !this.checked);

                        //Add akCarta cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.akCarta.kod + ' - ' + r.akCarta.perihal);
                        cell.addClass('text-uppercase');

                        //Add amaun cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(parseFloat(objekAmaun.val()).toFixed(2));
                        cell.addClass('text-end')

                        //Add Edit Button cell.
                        cell = $(row.insertCell(-1));
                        var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdateObjek' data-bs-toggle='modal' data-bs-target='#moObjek' onclick='UpdateObjek(this)'><i class='fas fa-edit'></i></button>");
                        cell.append(btnUpdate1);

                        //Add Remove Button cell.
                        cell = $(row.insertCell(-1));
                        var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemoveObjek' onclick='RemoveObjek(this)'><i class='fas fa-trash'></i></button>");
                        cell.append(btnRemove1);

                        //Clear the TextBoxes.
                        objekJBahagianId.val("").trigger('change');
                        objekAkCartaId.val("").trigger('change');
                        objekAmaun.val("0.00");
                        checkJumlah();
                    }
                });

            }
        });

    }
    //add tbl objek end

    //remove tbl objek
    function RemoveObjek(button) {
    //Determine the reference of the Row using the Button.
    var row = $(button).closest("TR");
    var jBahagianId = $("TD", row).eq(0).html();
    var namaBahagian = $("TD", row).eq(1).html();
    var akCartaId = $("TD", row).eq(2).html();
    var namaCarta = $("TD", row).eq(3).html();
    var objekAmaun = $("TD", row).eq(4).html();
    var objekJumlah = $("#Jumlah");
    if (confirm("Hapus bahagian : " + namaBahagian + ", Kod Akaun : " + namaCarta + " ?")) {
        //Get the reference of the Table.
        var table = $("#tblObjek")[0];

        //Sum value to Total text field
        var sum = 0;
        sum = parseFloat(objekJumlah.val()) - parseFloat(objekAmaun);
        objekJumlah.val(sum.toFixed(2));

        var AkTerimaObjek = {
            JBahagianId: jBahagianId,
            AkCartaId: akCartaId
        }
        if (AkTerimaObjek != null) {
            $.ajax({
                type: "POST",
                //url: "/AkTerima/RemoveAkTerima1",
                url: '@Url.Action("RemoveCartAkTerimaObjek", "AkTerima")',
                data: AkTerimaObjek,
                dataType: "json",
                success: function (r) {
                    //Delete the Table row using it's Index.
                    table.deleteRow(row[0].rowIndex);
                    checkJumlah();
                }
            });
        }

    }
};
    //remove tbl objek end

    //update tbl objek
    function UpdateObjek(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var jBahagianId = $("TD", row).eq(0).html();
        var akCartaId = $("TD", row).eq(2).html();

        var AkTerimaObjek = {
            JBahagianId: jBahagianId,
            AkCartaId: akCartaId
        }
        if (jBahagianId != null && akCartaId != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAnItemFromCartAkTerimaObjek", "AkTerima")',
                data: AkTerimaObjek,
                dataType: "json",
                success: function (r) {
                    //insert data in modal objek
                    $("#moObjekId").val(r.record.id);
                    $("#moObjekJBahagianId").val(r.record.jBahagianId);
                    $("#moObjekAkCartaId").val(r.record.akCartaId);
                    $("#moObjekAmaun").val(r.record.amaun.toFixed(2));

                    //show modal objek
                    $("#moObjek").modal({ backdrop: 'static', keyboard: false });

                }
            });
        }
    };

    function UpdateModalObjek() {
        var akTerimaId = $("#Id").val();
        var id = $("#moObjekId").val();
        var amaun = $("#moObjekAmaun").val();
        var jBahagianId = $("#moObjekJBahagianId").val();
        var akCartaId = $("#moObjekAkCartaId").val();
        var jumlah = $("#Jumlah");

        var AkTerimaObjek = {
            AkTerimaId: akTerimaId,
            Id: id,
            JBahagianId: jBahagianId,
            akCartaId: akCartaId,
            Amaun: amaun
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAnItemFromCartAkTerimaObjek", "AkTerima")',
            data: AkTerimaObjek,
            dataType: "json",
            success: function (r) {
                //insert notification here

                PopulateTablesFromCart();
            }
        });
    };
    //update tbl objek end

    //add tbl carabayar
    $("body").on("click", "#btnAddCaraBayar", function () {
        //Reference the Name and Country TextBoxes.
        var Id = $("#Id");
        var jCaraBayarId = $("#caraBayarJCaraBayarId").val();
        if (jCaraBayarId != null) {
            GetJCaraBayar(Id.val(), jCaraBayarId);
        }

    });

    function GetJCaraBayar(Id, jCaraBayarId) {
        var CaraBayar = {
            JCaraBayarId: jCaraBayarId
        }
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetJCaraBayar", "AkTerima")',
            data: CaraBayar,
            dataType: "json",
            success: function (r) {
                //Reference the TextBoxes.
                var caraBayarJCaraBayarId = $("#caraBayarJCaraBayarId");
                var caraBayarAmaun = $("#caraBayarAmaun");
                var caraBayarNoCekMK = $("#caraBayarNoCekMK");
                var caraBayarEnJenisCek = $("#caraBayarEnJenisCek");
                var caraBayarKodBankCek = $("#caraBayarKodBankCek");
                var caraBayarTempatCek = $("#caraBayarTempatCek");
                var caraBayarNoSlip = $("#caraBayarNoSlip");
                var caraBayarTarikhSlip = $("#caraBayarTarikhSlip");

                var AkTerimaCaraBayar = {
                    AkTerimaId: Id,
                    JCaraBayarId: caraBayarJCaraBayarId.val(),
                    Amaun: caraBayarAmaun.val(),
                    NoCekMK: caraBayarNoCekMK.val(),
                    EnJenisCek: caraBayarEnJenisCek.val(),
                    KodBankCek: caraBayarKodBankCek.val(),
                    TempatCek: caraBayarTempatCek.val(),
                    NoSlip: caraBayarNoSlip.val(),
                    TarikhSlip: caraBayarTarikhSlip.val()
                }
                //Send the JSON array to Controller to Save into session (cart)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveCartAkTerimaCaraBayar", "AkTerima")',
                    data: AkTerimaCaraBayar,
                    dataType: "json",
                    success: function (result) {

                        var jumlah = $("#JumlahCaraBayar");

                        //Sum value to Total text field
                        var sum = 0;
                        sum = parseFloat(caraBayarAmaun.val()) + parseFloat(jumlah.val());
                        jumlah.val(sum.toFixed(2));

                        //Get the reference of the Table's TBODY element.
                        var tBody = $("#tblCaraBayar > TBODY")[0];
                        //Add Row.
                        var row = tBody.insertRow(-1);

                        //Add jCaraBayarId cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.jCaraBayar.id);
                        cell.prop("hidden", !this.checked);

                        //Add jCaraBayar cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(r.jCaraBayar.kod + ' - ' + r.jCaraBayar.perihal);
                        cell.addClass('text-uppercase');

                        //Add amaun cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(parseFloat(caraBayarAmaun.val()).toFixed(2));
                        cell.addClass('text-end')

                        //Add noCekMK cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(caraBayarNoCekMK.val());
                        cell.addClass('text-uppercase')

                        //Add enJenisCek cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(result.enJenisCek);
                        cell.addClass('text-uppercase')

                        //Add kodBenkCek cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(caraBayarKodBankCek.val());
                        cell.addClass('text-uppercase')

                        //Add tempatCek cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(caraBayarTempatCek.val());
                        cell.addClass('text-uppercase')

                        //Add noSlip cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(caraBayarNoSlip.val());
                        cell.addClass('text-uppercase')

                        //Add tarikhSlip cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(showDate(caraBayarTarikhSlip.val()));
                        cell.addClass('text-uppercase')

                        //Add Edit Button cell.
                        cell = $(row.insertCell(-1));
                        var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdateCaraBayar' data-bs-toggle='modal' data-bs-target='#moCaraBayar' onclick='UpdateCaraBayar(this)'><i class='fas fa-edit'></i></button>");
                        cell.append(btnUpdate1);

                        //Add Remove Button cell.
                        cell = $(row.insertCell(-1));
                        var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemoveCaraBayar' onclick='RemoveCaraBayar(this)'><i class='fas fa-trash'></i></button>");
                        cell.append(btnRemove1);

                        //Clear the TextBoxes.
                        caraBayarJCaraBayarId.val("").trigger('change');
                        caraBayarAmaun.val("0.00");
                        caraBayarNoCekMK.val("-");
                        caraBayarEnJenisCek.val("").trigger('change');
                        caraBayarKodBankCek.val("-");
                        caraBayarTempatCek.val("-");
                        caraBayarNoSlip.val("-");
                        caraBayarTarikhSlip.val("");

                        checkJumlah();
                    }
                });

            }
        });

    }
    //add tbl carabayar end

    //remove tbl caraBayar
    function RemoveCaraBayar(button) {
    //Determine the reference of the Row using the Button.
    var row = $(button).closest("TR");
    var jCaraBayarId = $("TD", row).eq(0).html();
    var namaCaraBayar = $("TD", row).eq(1).html();
    var caraBayarAmaun = $("TD", row).eq(2).html();
        var carabayarJumlah = $("#JumlahCaraBayar");
    if (confirm("Hapus Cara Bayar : " + namaCaraBayar + " ?")) {
        //Get the reference of the Table.
        var table = $("#tblCaraBayar")[0];

        //Sum value to Total text field
        var sum = 0;
        sum = parseFloat(carabayarJumlah.val()) - parseFloat(caraBayarAmaun);
        carabayarJumlah.val(sum.toFixed(2));

        var AkTerimaCaraBayar = {
            JCaraBayarId: jCaraBayarId
        }
        if (AkTerimaCaraBayar != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveCartAkTerimaCaraBayar", "AkTerima")',
                data: AkTerimaCaraBayar,
                dataType: "json",
                success: function (r) {
                    //Delete the Table row using it's Index.
                    table.deleteRow(row[0].rowIndex);
                    checkJumlah();
                }
            });
        }

    }
};
    //remove tbl caraBayar end

    //update tbl caraBayar
    function UpdateCaraBayar(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var jCaraBayarId = $("TD", row).eq(0).html();

        var AkTerimaCaraBayar = {
            JCaraBayarId: jCaraBayarId
        }
        if (jCaraBayarId != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAnItemFromCartAkTerimaCaraBayar", "AkTerima")',
                data: AkTerimaCaraBayar,
                dataType: "json",
                success: function (r) {
                    //insert data in modal objek
                    $("#moCaraBayarId").val(r.record.id);
                    $("#moCaraBayarJCaraBayarId").val(r.record.jCaraBayarId);
                    $("#moCaraBayarAmaun").val(r.record.amaun.toFixed(2));
                    $("#moCaraBayarNoCekMK").val(r.record.noCekMK);
                    $("#moCaraBayarEnJenisCek").val(r.record.enJenisCek);
                    $("#moCaraBayarKodBankCek").val(r.record.kodBankCek);
                    $("#moCaraBayarTempatCek").val(r.record.tempatCek);
                    $("#moCaraBayarNoSlip").val(r.record.noSlip);
                    $("#moCaraBayarTarikhSlip").val(showDateReverse(r.record.tarikhSlip));

                    //show modal objek
                    $("#moCaraBayar").modal({ backdrop: 'static', keyboard: false });

                }
            });
        }
    };

    function UpdateModalCaraBayar() {
        var akTerimaId = $("#Id").val();
        var id = $("#moCaraBayarId").val();
        var jCaraBayarId = $("#moCaraBayarJCaraBayarId").val();
        var amaun = $("#moCaraBayarAmaun").val();
        var noCekMK = $("#moCaraBayarNoCekMK").val();
        var enJenisCek = $("#moCaraBayarEnJenisCek").val();
        var kodBankCek = $("#moCaraBayarKodBankCek").val();
        var tempatCek = $("#moCaraBayarTempatCek").val();
        var noSlip = $("#moCaraBayarNoSlip").val();
        var tarikhSlip = $("#moCaraBayarTarikhSlip").val();

        var AkTerimaCaraBayar = {
            AkTerimaId: akTerimaId,
            Id: id,
            JCaraBayarId: jCaraBayarId,
            Amaun: amaun,
            noCekMK: noCekMK,
            EnJenisCek: enJenisCek,
            KodBankCek: kodBankCek,
            TempatCek: tempatCek,
            NoSlip: noSlip,
            TarikhSlip: tarikhSlip
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAnItemFromCartAkTerimaCaraBayar", "AkTerima")',
            data: AkTerimaCaraBayar,
            dataType: "json",
            success: function (r) {
                //insert notification here

                PopulateTablesFromCart();
            }
        });
    };

    //update tbl objek end

</script>