@model LAK017PrintModel

@{
    ViewData["Title"] = "LAK00202 Laporan Akaun Kena Bayar (Dengan Tanggungan)";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    decimal jumlah = 0;
}

<div class="row flexrow mb-1 text-left">
    <img class="image-container mb-2" style="margin-left: 15px" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
    <div class="col-12 text-uppercase">
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
    </div>
</div>

<div>
    <p>
        <strong>
            Laporan Akaun Kena Bayar Untuk Tarikh @ViewData["TarikhDari"] Hingga @ViewData["TarikhHingga"] Bagi Tahun @ViewBag.Tahun<br>
        </strong>
    </p>
</div>

<table class="table table-bordered table-sm topic" id="mytable">
    <thead>
        <tr class="bg-dark text-white">
            <th colspan="6" class="text-center bg-dark text-white" style="line-height: 1.8rem;">
                <strong>CETAKAN LAPORAN AKAUN KENA BAYAR</strong>
            </th>
        </tr>
        <tr style="line-height:0.8rem;" class="bg-secondary text-white">
            <th>Bil</th>
            <th>Tarikh</th>
            <th>No Rujukan</th>
            <th>Kod</th>
            <th>Nama Akaun</th>
            <th>Amaun RM</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AkJurnalResult != null && Model.AkJurnalResult.Any())
        {
            int bil = 1;

            foreach (var akJ in Model.AkJurnalResult)
            {
                <tr class="table" style="line-height:0.8rem; page-break-before:avoid;">
                    <td class="text-uppercase">@bil</td>
                    <td class="text-uppercase">@akJ.Tarikh.ToString("dd/MM/yyyy")</td>
                    <td class="text-uppercase">@akJ.NoRujukan</td>
                    <td class="text-uppercase">@akJ.AkCartaKod</td>
                    <td class="text-uppercase">@akJ.AkCartaPerihal</td>
                    <td class="text-right">@akJ.Amaun.ToString("#,##0.00")</td>
                </tr>
                bil++;

                jumlah += akJ.Amaun;
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No data available</td>
            </tr>
        }
        <tr class="font-weight-bold">
            <td colspan="5" class="text-right text-uppercase table-warning">Jumlah Keseluruhan RM</td>
            <td class="text-right">@jumlah.ToString("#,##0.00")</td>
        </tr>
    </tbody>
</table>