@model IEnumerable<_AkBukuTunai>

@{
    ViewData["Title"] = "Cetakan Buku Tunai";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    int bil = 0;
    decimal jumBesarMasuk = 0;
    decimal jumMasuk = 0;
    decimal bakiBawaHadapan = 0;
    decimal jumBesarKeluar = 0;
    decimal jumKeluar = 0;
    decimal bankMasuk = 0;
    decimal bankKeluar = 0;

}
<style>

    .topic tr {
        line-height: 0.5rem;
    }

    .center {
        padding: 70px 0;
        border: 3px solid green;
        text-align: center;
    }

    .notbold {
        font-weight: normal
    }

    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5.8em;
    }

    .breakhere {
        page-break-after: always
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }

    .row {
        display: -webkit-box; /* wkhtmltopdf uses this one */
        display: flex;
        -webkit-box-pack: center; /* wkhtmltopdf uses this one */
        justify-content: center;
    }

        .row > div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }

            .row > div:last-child {
                margin-right: 0;
            }
</style>

<div class="row flexrow mb-1 text-center">
    <div class="col-12 text-uppercase">
        <img class="image-container mb-2" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("t")</p>
    </div>
</div>
<br />
<table class="table table-bordered table-sm topic">
    <thead>
        <tr class="bg-dark text-white">
            <th class="text-center bg-dark text-white">
                <strong>
                    LAPORAN BUKU TUNAI BAGI JANGKAMASA : @ViewData["TarDari"] Hingga @ViewData["TarHingga"]
                    <br />
                    MENGIKUT BANK : @ViewData["NamaBank"]
                </strong>
            </th>
        </tr>
    </thead>
</table>

<div class="row flex-row">
    <div class="col-6">
        <table class="table table-bordered table-sm topic">
            <thead>
                <tr>
                    <th colspan="5" class="text-center table-success">
                        <strong>
                            MASUK
                        </strong>
                    </th>
                </tr>
                <tr class="table-secondary">
                    <th>
                        Tarikh
                    </th>
                    <th>
                        Nama Akaun
                    </th>
                    <th>
                        Resit / JR
                    </th>
                    <th>
                        Jumlah
                    </th>
                    <th>
                        Bank
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyMasuk">
                @foreach (var item in Model)
                {
                    if (item.KeluarMasuk == 0)
                    {
                        bil++;
                        if (bil > 1)
                        {
                            jumMasuk += item.AmaunMasuk;
                        }
                        else
                        {
                            jumBesarMasuk = item.AmaunMasuk;
                            bakiBawaHadapan = item.AmaunMasuk;
                        }
                        bankMasuk = item.JumlahMasuk;
                        <tr>
                            <td data-sort='YYYYMMDD'>
                                @item.TarikhMasuk?.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.NamaAkaunMasuk
                            </td>
                            <td>
                                @item.NoRujukanMasuk
                            </td>
                            <td class="text-right">
                                @Convert.ToDecimal(item.AmaunMasuk).ToString("#,##0.00")
                            </td>
                            <td class="text-right">
                                @Convert.ToDecimal(jumMasuk).ToString("#,##0.00")
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered table-sm topic">
            <thead>
                <tr>
                    <th colspan="5" class="text-center table-danger">
                        <strong>
                            KELUAR
                        </strong>
                    </th>
                </tr>
                <tr class="table-secondary">
                    <th>
                        Tarikh
                    </th>
                    <th>
                        Nama Akaun
                    </th>
                    <th>
                        Baucer / JR
                    </th>
                    <th>
                        Jumlah
                    </th>
                    <th>
                        Bank
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyKeluar">
                <tr>
                    <td class="text-white">
                        -
                    </td>
                    <td class="text-white">
                        -
                    </td>
                    <td class="text-white">
                        -
                    </td>
                    <td class="text-white">
                        -
                    </td>
                    <td class="text-white">
                        -
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    if (item.KeluarMasuk == 1)
                    {
                        jumKeluar += item.AmaunKeluar;
                        bakiBawaHadapan -= item.AmaunKeluar;
                        bankKeluar = item.JumlahKeluar;
                        <tr>
                            <td data-sort='YYYYMMDD'>
                                @item.TarikhKeluar?.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.NamaAkaunKeluar
                            </td>
                            <td>
                                @item.NoRujukanKeluar
                            </td>
                            <td class="text-right">
                                @Convert.ToDecimal(item.AmaunKeluar).ToString("#,##0.00")
                            </td>
                            <td class="text-right">
                                @Convert.ToDecimal(jumKeluar).ToString("#,##0.00")
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@{
    jumBesarMasuk = jumBesarMasuk + jumMasuk;
    bakiBawaHadapan = jumBesarMasuk - jumKeluar;
    jumBesarKeluar = bakiBawaHadapan + jumKeluar;
}
<hr />
<div class="row flex-row mb-2">
    <div class="col-6">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Pendapatan RM</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(jumMasuk).ToString("#,##0.00")</h5>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Perbelanjaan RM</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(jumKeluar).ToString("#,##0.00")</h5>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="breakhere"></div>
<table class="table table-bordered table-sm topic">
    <thead>
        <tr class="bg-dark text-white">
            <th class="text-center bg-dark text-white">
                <strong>
                   RINGKASAN
                </strong>
            </th>
        </tr>
    </thead>
</table>
<div class="row flex-row mb-2">
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Pendapatan RM (+)</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(bankMasuk).ToString("#,##0.00")</h5>
            </div>
        </div>

    </div>
</div>
<hr />
<div class="row flex-row mb-2">
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Besar Pendapatan RM</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(jumBesarMasuk).ToString("#,##0.00")</h5>
            </div>
        </div>

    </div>
</div>

<div class="row flex-row mb-2">
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Perbelanjaan RM (-)</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(bankKeluar).ToString("#,##0.00")</h5>
            </div>
        </div>

    </div>
</div>
<hr />
<div class="row flex-row mb-2">
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Baki Bawa Hadapan RM</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(bakiBawaHadapan).ToString("#,##0.00")</h5>
            </div>
        </div>

    </div>
</div>
@*<div class="row flex-row">
    <div class="col-6">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Besar RM</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(jumBesarMasuk).ToString("#,##0.00")</h5>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-8">
                <h5 class="font-weight-bold">Jumlah Besar RM</h5>
            </div>
            <div class="col-4" align="right">
                <h5 class="font-weight-bold">@Convert.ToDecimal(jumBesarKeluar).ToString("#,##0.00")</h5>
            </div>
        </div>
    </div>
</div>*@
<hr />
<div class="table-responsive-sm">
    <table class="table table-sm topic table-bordered">
        <thead class="table-dark">

        </thead>
        <tbody>
            <tr>
                <td class="text-center" width="33%">Disedia </td>
                <td class="text-center" width="33%">Disemak </td>
                <td class="text-center" width="33%">Diluluskan </td>
            </tr>
            <tr>
                <td class="text-center" height="50px"></td>

                <td class="text-center" height="50px"></td>
                <td class="text-center" height="50px"></td>

            </tr>
            <tr>
                <td class="text-left">Nama:</td>
                <td class="text-left">Nama:</td>
                <td class="text-left">Nama:</td>

            </tr>
            <tr>
                <td class="text-left">Jawatan:</td>
                <td class="text-left">Jawatan:</td>
                <td class="text-left">Jawatan:</td>

            </tr>
            <tr>
                <td class="text-left">Tarikh: @DateTime.Now</td>
                <td class="text-left">Tarikh:</td>
                <td class="text-left">Tarikh:</td>
            </tr>
        </tbody>
    </table>
</div>
