@model LAK012PrintModel

@{
    ViewData["Title"] = "LAK00201 Penyata Akaun Pembekal";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    decimal runningBalance = Model.Baki;
    decimal totalDebit = Model.Debit;
    decimal totalKredit = Model.Kredit;

    int totalItems = Model.CombinedData.Count;
    int currentItem = 0;
}

<div class="row flexrow mb-1 text-left">
    <img class="image-container mb-2" style="margin-left: 15px" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
    <div class="col-12 text-uppercase">
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
    </div>
</div>

<div>
    <p>
        <strong>
            PENYATA AKAUN PEMBEKAL DARI TARIKH : @ViewData["TarikhDari"] HINGGA @ViewData["TarikhHingga"]<br>
            KOD PEMBEKAL: @ViewBag.SelectedKod <br>
        </strong>
    </p>
</div>

<div>
    <p>
        <strong>
            NAMA: @ViewBag.SelectedKod - @ViewBag.SelectedNama
        </strong>
    </p>
</div>
<table class="table table-bordered table-sm topic">
    <thead>
        <tr class="bg-dark text-white">
            <th colspan="11" class="text-center bg-dark text-white" style="line-height: 1.8rem;">
                <strong>PENYATA AKAUN PEMBEKAL DARI TARIKH : @ViewData["TarikhDari"] HINGGA @ViewData["TarikhHingga"]</strong>
            </th>
        </tr>
        <tr style="line-height:0.8rem;" class="bg-secondary text-white">
            <th width="5%">Bil</th>
            <th width="8%">No Invois / No Baucer</th>
            <th>Tarikh</th>
            <th>Perkara</th>
            <th width="6%">Debit</th>
            <th width="6%">Kredit</th>
            <th width="6%">Baki</th>
        </tr>
    </thead>
    <tbody>
        <tr style="line-height:0.8rem;">
            <td>1</td>
            <td></td>
            <td>@ViewData["TarikhDari"]</td>
            <td class="text-uppercase">Baki Awal</td>
            <td class="text-right">0.00</td>
            <td class="text-right">@Model.Kredit</td>
            <td class="text-right">@Model.Baki</td>
        </tr>

        @{
            int bil = 1;
        }
        @foreach (var item in Model.CombinedData)
        {
            bil++;
            currentItem++;

            if (item.Type == "Debit")
            {
                runningBalance -= item.Jumlah;
                totalDebit += item.Jumlah;
            }
            else if (item.Type == "Kredit")
            {
                runningBalance += item.Jumlah;
                totalKredit += item.Jumlah;
            }

            <tr style="line-height:0.8rem;">
                <td>@bil</td>
                <td class="text-uppercase" style="width: 100px;">@item.NoRujukan</td>
                <td>@item.Tarikh.ToString("dd/MM/yyyy")</td>
                <td class="text-uppercase">@item.Perihal</td>
                <td class="text-right">
                    @if (item.Type == "Debit")
                    {
                        @item.Jumlah.ToString("F2")
                    }
                    else
                    {
                        @("0.00")
                    }
                </td>
                <td class="text-right">
                    @if (item.Type == "Kredit")
                    {
                        @item.Jumlah.ToString("F2")
                    }
                    else
                    {
                        @("0.00")
                    }
                </td>
                <td class="text-right">@runningBalance.ToString("F2")</td>
            </tr>

            @if (currentItem == totalItems)
            {
                <tr style="line-height:0ac.8rem;">
                    <td colspan="4" class="text-right"><strong></strong></td>
                    <td class="text-right"><strong>@totalDebit.ToString("F2")</strong></td>
                    <td class="text-right"><strong>@totalKredit.ToString("F2")</strong></td>
                    <td class="text-right"><strong></strong></td>
                </tr>
            }
        }
    </tbody>
</table>