@model AkJurnal

@{
    ViewData["Title"] = "Baucer Jurnal - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal penerimaCekBatalJumlah = 0;

}
<partial name="_JSCreate" />
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-primary mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index"
                    asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                    asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                    asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")" 
                    class="text-secondary">Indeks</a> / <a asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Papar</a> / Ubah
                </span>
            </div>
            <div class="col-4 ">
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                   asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")" 
                   class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input name="syscode" value="SPPB" hidden />
            <input asp-for="JKWId" hidden />

            @*maklumat umum*@
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input asp-for="NoRujukan" class="form-control form-control-sm" required readonly />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" class="form-control form-control-sm" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label>
                        <input value="@BelanjawanFormatter.ConvertToKW(Model.JKW?.Kod) - @Model.JKW?.Perihal" class="form-control form-control-sm" readonly />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EnJenisJurnal" class="control-label"></label>
                <select asp-for="EnJenisJurnal" class="form-control form-control-sm text-uppercase" required>
                    <option value="">-- SILA PILIH --</option>
                    @foreach (var item in ViewBag.EnJenisJurnal)
                    {
                        <option value="@item.id">@item.perihal</option>
                    }
                </select>
            </div>
            @*div baucer*@
            <div class="form-group" id="divAkPV" @ViewBag.DivAkPV>
                <label asp-for="AkPVId" class="control-label"></label>
                <select asp-for="AkPVId" class="form-control form-control-sm text-uppercase select2">
                    <option value="" disabled selected>-- SILA PILIH --</option>
                    @foreach (var item in ViewBag.AkPV)
                    {
                        <option value="@item.Id">@item.Tarikh.ToString("dd/MM/yyyy") - @item.NoRujukan </option>
                    }
                </select>
                <span asp-validation-for="AkPVId" class="text-danger"></span>
            </div>
            @*div end*@
            <div class="form-group">
                <label asp-for="Ringkasan" class="control-label"></label>
                <textarea asp-for="Ringkasan" class="form-control form-control-sm text-uppercase" required rows="2"></textarea>
                <span asp-validation-for="Ringkasan" class="text-danger"></span>
            </div>

            <div class="card mb-2">
                <div class="card-body ps-3 pe-3 pt-2">

                    <label class="control-label">Maklumat Tambahan : </label>

                    <div class="custom-control custom-radio">
                        @Html.CheckBoxFor(m => m.IsAKB)
                        <label asp-for="IsAKB" class="control-label"></label>
                    </div>
                </div>
            </div>
            @*end*@
            <br />

            @*table Objek*@
            <div class="card box-shadow mb-3">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:20%">Bahagian Debit RM</th>
                                <th style="width:20%">Kod Debit RM</th>
                                <th style="width:20%">Bahagian Kredit RM</th>
                                <th style="width:20%">Kod Kredit RM</th>
                                <th style="width:10%">Amaun RM</th>
                                <th style="width:10%">Terlibat Buku Vot (Debit/Kredit)</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @if (ViewBag.akJurnalObjek != null)
                            {

                                foreach (var item in ViewBag.akJurnalObjek)
                                {
                                    var isDebitBukuVot = "TIDAK";
                                    var isKreditBukuVot = "TIDAK";
                                    <tr>
                                        <td hidden>@item.JKWPTJBahagianDebitId</td>
                                        <td class="text-uppercase">@item.JKWPTJBahagianDebit.Kod - @item.JKWPTJBahagianDebit.JBahagian?.Perihal (@item.JKWPTJBahagianDebit.JPTJ?.Perihal)</td>
                                        <td hidden>@item.AkCartaDebitId</td>
                                        <td class="text-uppercase">@item.AkCartaDebit?.Kod - @item.AkCartaDebit?.Perihal</td>
                                        <td hidden>@item.JKWPTJBahagianKreditId</td>
                                        <td class="text-uppercase">@item.JKWPTJBahagianKredit.Kod - @item.JKWPTJBahagianKredit.JBahagian?.Perihal (@item.JKWPTJBahagianKredit.JPTJ?.Perihal)</td>
                                        <td hidden>@item.AkCartaKreditId</td>
                                        <td class="text-uppercase">@item.AkCartaKredit?.Kod - @item.AkCartaKredit?.Perihal</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        @if (item.IsDebitAbBukuVot == true)
                                        {
                                            isDebitBukuVot = "YA";
                                        }
                                        @if (item.IsKreditAbBukuVot == true)
                                        {
                                            isKreditBukuVot = "YA";
                                        }
                                        <td class="text-uppercase">@isDebitBukuVot / @isKreditBukuVot</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" data-toggle="modal" data-target="#moObjek" onclick="UpdateObjek(this)"><i class="fa fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" onclick="RemoveObjek(this)"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <select class="form-control form-control-sm text-uppercase jKWPTJBahagian-select" id="objekJKWPTJBahagianDebitId">
                                        <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                                        @foreach (var s in ViewBag.JKWPTJBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm select2 text-uppercase" id="objekAkCartaDebitId">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm text-uppercase jKWPTJBahagian-select" id="objekJKWPTJBahagianKreditId">
                                        <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                                        @foreach (var s in ViewBag.JKWPTJBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm select2 text-uppercase" id="objekAkCartaKreditId">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td><input class="form-control form-control-sm" type="number" id="objekAmaun" step="0.01" value="0.00"></td>
                                <td>
                                    <label class="control-label mt-2">Debit :</label>
                                    <select class="form-control form-control-sm text-uppercase" id="objekIsDebitAbBukuVot">
                                        <option value="false" selected>Tidak</option>
                                        <option value="true">Ya</option>
                                    </select>
                                    <label class="control-label mt-2">Kredit :</label>
                                    <select class="form-control form-control-sm text-uppercase" id="objekIsKreditAbBukuVot">
                                        <option value="false" selected>Tidak</option>
                                        <option value="true">Ya</option>
                                    </select>
                                </td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAddObjek"><i class="fas fa-plus"></i></button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Jumlah Debit RM</label>
                                <input asp-for="JumlahDebit" class="form-control form-control-sm" readonly />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Jumlah Kredit RM</label>
                                <input asp-for="JumlahKredit" class="form-control form-control-sm" readonly />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*table Objek end*@

            @*table Penerima Cek Batal*@
            <div class="card box-shadow mb-3" id="divPenerimaCekBatal" @ViewBag.DivPenerimaCekBatal>
                <div class="card-header">
                    <h6>Penerima Cek Batal</h6>
                </div>
                <div class="card-body">
                    <table id="tblPenerimaCekBatal" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:10%">Bil</th>
                                <th style="width:10%">No Baucer</th>
                                <th style="width:50%">Nama Penerima</th>
                                <th style="width:10%">No Cek</th>
                                <th style="width:20%">Amaun RM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPenerimaCekBatal">
                            @if (ViewBag.akJurnalPenerimaCekBatal != null)
                            {
                                foreach (var item in ViewBag.akJurnalPenerimaCekBatal)
                                {
                                    <tr>
                                        <td class="text-end">@item.Bil</td>
                                        <td hidden>@item.AkPVId</td>
                                        <td class="text-uppercase">@item.AkPV?.NoRujukan</td>
                                        <td class="text-uppercase">@item.NamaPenerima</td>
                                        <td class="text-uppercase">@item.NoCek</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" onclick="RemovePenerimaCekBatal(this)"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    penerimaCekBatalJumlah += item.Amaun;
                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <div class="form-group">
                                        <select class="form-control form-control-sm text-uppercase select2" id="penerimaCekBatalAkPVPenerimaId" required>
                                            <option value="" disabled selected>-- SILA PILIH --</option>
                                            @foreach (var item in ViewBag.AkPVPenerima)
                                            {
                                                <option value="@item.Id">@item.AkPV?.NoRujukan - @item.NamaPenerima (@item.NoRujukanCaraBayar)  </option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td hidden><input class="form-control form-control-sm text-uppercase" type="text" id="penerimaCekBatalNamaPenerima"></td>
                                <td><input class="form-control form-control-sm text-uppercase" type="text" id="penerimaCekBatalNoCek" readonly></td>
                                <td><input class="form-control form-control-sm" type="number" id="penerimaCekBatalAmaun" readonly value="0.00"></td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAddPenerimaCekBatal"><i class="fas fa-plus"></i></button></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label name="penerimaCekBatalJumlah" class="control-label">Jumlah RM</label>
                        <input name="penerimaCekBatalJumlah" id="penerimaCekBatalJumlah" class="form-control form-control-sm" value="@penerimaCekBatalJumlah" readonly />
                    </div>
                </div>
            </div>
            @*table PenerimaCekBatal end*@
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index"
                   asp-route-searchString="@_http.HttpContext?.Session.GetString("searchString")"
                   asp-route-searchDate1="@_http.HttpContext?.Session.GetString("searchDate1")"
                   asp-route-searchDate2="@_http.HttpContext?.Session.GetString("searchDate2")" 
                   class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="moObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moObjekId" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Bahagian Debit</label>
                        <select class="form-control form-control-sm text-uppercase jKWPTJBahagian-select" id="moObjekJKWPTJBahagianDebitId" disabled>
                            <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                            @foreach (var s in ViewBag.JKWPTJBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Kod Debit</label>
                        <select class="form-control form-control-sm" id="moObjekAkCartaDebitId" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Bahagian Kredit</label>
                        <select class="form-control form-control-sm text-uppercase jKWPTJBahagian-select" id="moObjekJKWPTJBahagianKreditId" disabled>
                            <option value="" class="text-lowercase" disabled selected>-- Pilih Bahagian --</option>
                            @foreach (var s in ViewBag.JKWPTJBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.JBahagian?.Perihal (@s.JPTJ?.Perihal) </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Kod Kredit</label>
                        <select class="form-control form-control-sm" id="moObjekAkCartaKreditId" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun</label>
                        <input type="number" class="form-control form-control-sm" id="moObjekAmaun">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="col-form-label">Terlibat Buku Vot (Debit)</label>
                                <select class="form-control form-control-sm text-uppercase" id="moObjekIsDebitAbBukuVot">
                                    <option value="false" selected>Tidak</option>
                                    <option value="true" selected>Ya</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="col-form-label">Terlibat Buku Vot (Kredit)</label>
                                <select class="form-control form-control-sm text-uppercase" id="moObjekIsKreditAbBukuVot">
                                    <option value="false" selected>Tidak</option>
                                    <option value="true">Ya</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="UpdateModalObjek()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
<!-- Modal PenerimaCekBatal -->
<div class="modal fade bd-example-modal-lg" id="moPenerimaCekBatal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Penerima Cek Batal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moPenerimaCekBatalId" hidden />
                    <input id="moBil" hidden />
                    <div class="form-group">
                        <label asp-for="AkPVId" class="control-label"></label>
                        <div class="form-group">
                            <select class="form-control form-control-sm text-uppercase select2" id="moPenerimaCekBatalAkPVPenerimaId" required>
                                <option value="" disabled selected>-- SILA PILIH --</option>
                                @foreach (var item in ViewBag.AkPVPenerima)
                                {
                                    <option value="@item.Id">@item.AkPV?.NoRujukan - @item.NamaPenerima (@item.NoRujukanCaraBayar) </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Nama Penerima</label>
                        <input type="text" class="form-control form-control-sm text-uppercase" id="moPenerimaCekBatalNamaPenerima" readonly>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">No Cek</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="moPenerimaCekBatalNoCek" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Amaun</label>
                                <input type="number" class="form-control form-control-sm" id="moPenerimaCekBatalAmaun" readonly>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="UpdateModalPenerimaCekBatal()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal PenerimaCekBatal End -->